$background: #d9efec;
$footer-background: #ade0d9;
$black: #29293A;
$progress: $black;
$progress-loaded: $black;
$progress-played: #009990;
$mobile-breakpoint: 521px;

@import '../sz-common/index.scss';
