$black: #000;
$white: #fff;
$progress: rgba(0, 0, 0, .1);
$progress-loaded: rgba(0, 0, 0, .3);
$progress-played: $black;

.podcast-player {
  color: $black;
  font-family: Arial, sans-serif;

  button {
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;

    &.play-button {
      border: 3px solid $black;
      border-radius: 100px;
      color: $black;
      font-size: 30px;
      height: 43px;
      margin: 0 0;
      padding: 0;
      width: 43px;
    }
  }

  .progress-bar {
    display: inline-block;
    height: 20px;
    left: 5px;
    position: relative;
    top: 6px;
    width: calc(100% - 55px);

    .progress-bar-time-played {
      font-size: 12px;
      float: right;
      position: relative;
      top: -5px;
    }

    .progress-bar-rail {
      background-color: $progress;
      border-radius: 10px;
      cursor: ew-resize;
      min-height: 4px;
      position: relative;
      width: calc(100% - 55px);
    }
  }

  &.playing .progress-bar .progress-bar-time-played {
    display: block;
  }

  .progress-bar-played,
  .progress-bar-loaded {
    background-color: $progress-played;
    border-radius: 10px;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 0;
  }

  .progress-bar-played:after {
    background-color: $black;
    border: 1px solid $white;
    border-radius: 50px;
    content: '';
    height: 14px;
    position: absolute;
    right: -6px;
    top: -5px;
    width: 14px;
  }

  .progress-bar-loaded {
    background-color: $progress-loaded;
  }

  .progress-bar-buffering {
    background-color: red;

    &:after {
      animation: move 2s linear infinite;
      background-image: linear-gradient(
        -45deg,
        rgba(255, 255, 255, .2) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255, 255, 255, .2) 50%, 
        rgba(255, 255, 255, .2) 75%, 
        transparent 75%, 
        transparent
      );
      background-size: 50px 50px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      content: "";
      overflow: hidden;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }

    @keyframes move {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 50px 50px;
      }
    }
  }
}
