$background-color: transparent;
$default-color: #000000 !default;
$light-grey: #FFFFFF !default;
$dark-grey: #e1e1e1 !default;
$highlight1: #595959 !default;
$highlight1-light: #a7a7a7 !default;
$highlight2: #595959 !default;
$transcript-highlight: $highlight1-light !default;
$transcript-search-highlight: $highlight1-light !default;

$mobile-breakpoint: 500px;
