$background: #81d1c6;
$footer-background: #68C1B4;
$black: #29293A;
$progress: $black;
$progress-loaded: $black;
$progress-played: #FD4560;
$mobile-breakpoint: 521px;

@import '../sz-common/index.scss';
