$default-padding: 12px !default;
$background-color: rgba(255, 255, 255, 0.9) !default;
$default-color: #333 !default;
$light-grey: rgb(230, 230, 230) !default;
$dark-grey: rgba(200, 200, 200, 0.5) !default;
$highlight1: #00aeef !default;
$highlight2: rgb(50, 156, 146) !default;
$transcript-highlight: rgb(255, 249, 169) !default;

$mobile-breakpoint: 500px;
