$default-padding: 12px !default;
$background-color: #fff !default;
$default-color: rgb(141, 173, 197) !default;
$light-grey: $default-color !default;
$dark-grey: darken($default-color, 20%) !default;
$highlight1: rgb(0, 169, 252) !default;
$highlight2: rgb(252, 99, 126) !default;
$transcript-highlight: rgb(255, 249, 169) !default;
$transcript-search-highlight: rgb(255, 249, 169) !default;

$mobile-breakpoint: 500px;

.podcast-player {
  &, *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  background-color: $background-color;
  color: #222;
  font-family: Helvetica;
  min-width: 100%;
  overflow: hidden;
  position: relative;
  width: 1px;

  a {
    color: $highlight1;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .main-player {
    position: relative;
  }

  .episode-basic-info {
    max-height: 90px;
    padding: 23px 82px 0 $default-padding;
    position: relative;
    overflow: hidden;

    .episode-title {
      color: $highlight1;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .episode-subtitle {
      color: $highlight2;
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .cover-image {
    float: right;
    height: 90px;
  }

  .controls {
    float: left;
    height: 90px;

    .play-button {
      border: 3px solid $light-grey;
      border-radius: 100px;
      color: $highlight1;
      font-size: 56px;
      height: 70px;
      margin: 10px 0 0 10px;
      padding: 0;
      width: 70px;
    }
  }

  .controls-advanced {
    bottom: 8px;
    display: none;
    left: 155px;
    position: absolute;

    button {
      color: $dark-grey;
      font-size: 18px;
    }

    button:hover {
      color: $highlight1;
    }

    .speed-toggle {
      cursor: pointer;
      font-size: 14px;
      position: relative;
      top: -3px;
    }
  }

  &.playing .controls-advanced {
    display: block;
  }

  .progress-bar {
    clear: both;
    overflow: hidden;

    .progress-bar-time-played {
      color: $dark-grey;
      cursor: pointer;
      display: none;
      font-size: 14px;
      left: 92px;
      position: absolute;
      text-align: left;
      top: 71px;
      width: 70px;
    }

    .progress-bar-time-played:hover {
      color: $highlight1;
    }

    .progress-bar-rail {
      background-color: $light-grey;
      cursor: ew-resize;
      min-height: 10px;
      overflow: hidden;
      position: relative;
    }
  }

  &.playing .progress-bar .progress-bar-time-played {
    display: block;
  }

  .progress-bar-played,
  .progress-bar-loaded {
    background-color: $highlight2;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 0;
  }

  .progress-bar-loaded {
    background-color: $dark-grey;
  }

  .progress-bar-buffering {
    background-color: red;

    &:after {
      animation: move 2s linear infinite;
      background-image: linear-gradient(
        -45deg, 
        rgba(255, 255, 255, .2) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255, 255, 255, .2) 50%, 
        rgba(255, 255, 255, .2) 75%, 
        transparent 75%, 
        transparent
      );
      background-size: 50px 50px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      content: "";
      overflow: hidden;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }

    @keyframes move {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 50px 50px;
      }
    }
  }

  .buttons {
    position: absolute;
    right: 90px;
    top: 68px;

    button {
      color: $dark-grey;
      display: inline-block;
      font-size: 16px;
      text-align: center;
      width: 26px;
    }

    button:hover,
    button.button-active {
      color: $highlight1;
    }

    img {
      height: 14px;
    }
  }

  .panels {
    color: $dark-grey;
    font-size: 14px;
    font-weight: 300;
    height: auto;
    line-height: 18px;

    & > div {
      height: 100%;
      overflow: hidden;
      padding: 0 0 0 $default-padding;
      position: relative;
    }

    h3 {
      margin: 12px 0;
    }
  }

  .panels {
    .chaptermarks,
    .playlist {
      height: 400px;

      ul {
        display: block;
        height: calc(100% - 54px);
        margin: 0;
        padding: 0;
        overflow-y: scroll;

        li {
          background-color: none;
          cursor: pointer;
          line-height: 30px;
          list-style: none;
          padding: 0 5px;
          position: relative;

          &+li {
            border-top: 1px solid $light-grey;
          }

          &:hover {
            background-color: $light-grey;
          }

          &.active {
            background-color: lighten($highlight2, 55%);
          }

          img {
            float: left;
            width: 30px;
          }

          span {
            display: inline;
            height: 100%;
            margin: 0 0 0 10px;
            overflow: hidden;
          }

          .chaptermark-start {
            float: left;
            margin-left: 0;
          }

          .chaptermark-image + .chaptermark-start {
            margin-left: 10px;
          }

          .episode-link,
          .playlist-episode-number {
            display: none;
          }

          .playlist-episode-duration {
            float: right;
          }

          a {
            color: $highlight2;
            font-size: 16px;
            right: 5px;
            position: absolute;
            top: 5px;
          }
        }
      }
    }

    .playlist ul li {
      span {
        margin-left: 0;
      }

      a {
        padding: 0 5px;
        position: static;
      }
    }

    .episode-info {
      font-size: 16px;
      height: calc(100% - 12px);
      overflow-y: auto;
      padding: 0 12px;

      .episode-title {
        font-size: 22px;
      }

      .episode-subtitle {
        font-size: 18px;
        font-weight: 300;
      }
    }

    .share {
      padding: 12px;

      .share-copy-url,
      .share-embed-code {
        background: transparent;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: rgb(77, 77, 77);
        font-size: 20px;
        outline: none;
        padding: 4px;
        text-align: center;
        width: 100%;
      }
    }

    .transcript {
      height: 400px;

      h3 {
        float: left;
      }

      .search,
      .search-result {
        display: inline-block;
      }

      .search {
        float: right;
        padding: 10px 15px;
      }

      .search-clear {
        color: inherit;
        font-size: 150%;
        left: calc(100% - 40px);
        position: absolute;
        top: 6px;
      }

      .transcript-text {
        height: calc(100% - 54px);
        list-style: none;
        overflow-y: auto;
        padding: 0 12px 0 0;
        width: 100%;

        li {
          cursor: pointer;
          font-size: 1.2em;
          line-height: 1.4em;
          margin-bottom: 8px;

          &:hover,
          &.active {
            color: #222;
          }

          &.search-highlight > * {
            background-color: $transcript-search-highlight;
          }
        }
      }
    }
  }
}

.podcast-player.mode-script {
  @media (max-width: $mobile-breakpoint) {
    .cover-image {
      border: 12px solid $background-color;
      border-bottom: 0;
      display: none;
      float: none;
      height: auto;
      width: 100%;
    }

    .episode-basic-info {
      padding-right: 10px;

      .episode-title {
        font-size: 16px;
      }

      .episode-subtitle {
        font-size: 14px;
      }
    }

    .controls {
      height: 115px;
      position: relative;
    }

    .controls-advanced {
      bottom: 20px;
      left: 0;
      top: auto;

      button {
        font-size: 24px;
        padding: 0 8px;
      }
    }

    .buttons {
      margin-top: 25px;
      position: static;
      text-align: right;

      button {
        font-size: 24px;
        padding: 0 8px;
        width: 35px;
      }
    }

    .progress-bar {
      .progress-bar-rail {
        min-height: 20px;
      }
    }

    &.playing .progress-bar .progress-bar-time-played {
      display: none;
    }

    .panels .transcript {
      h3 {
        float: none;
      }

      .search {
        display: block;
        float: none;
        overflow: hidden;
        padding: 0 24px 0 0;
        position: relative;
      }

      .search-input {
        float: left;
        padding-right: 100px;
        width: 100%;
      }

      .search-result {
        float: right;
        position: absolute;
        right: 44px;
        top: 4px;
      }

      .search-clear {
        color: inherit;
        font-size: 150%;
        left: calc(100% - 44px);
        position: absolute;
        top: -2px;
      }

      .transcript-text {
        height: calc(100% - 90px);
      }
    }
  }

  .podigee-logo {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAN0AAABOCAYAAACkNhP3AAAXXUlEQVR4nO2de7hcVXXAf/vMnMfc3EsSJBBI0oRHEhE0NYACBYs8LOADlYcWbUVTvlZA4av4qi19qGh9oFgf/dRqKdZaakGsCMUiQQkiaKBgDQSCEEMgD/Ig3OfMnNU/1tn37HvuzNy59w43uWH/vu98M2fOPvvsc2avvddee619wOPxeDwej8fj8Xg8Ho/H4/F4PB6Px+PxTDVmdxfAs1cSZJ9p4fcQ2AeYDbwI2A9YCMwD5gD7Aj3ADCDJzqkDz2XbDmAL8FtgPbA527YDO4Gqcy2TbZJtewxe6DydolklPxBYDLwUODL7Ph8VsJlANMHr1VFB2wpsAB4BHsi2tagwjlW23YIXOs9kCRhdmQ8DTgReCSwDDgH2HyOfAaAX6AcGUaECKKGCmQBdaC/YiqeBdcB9wCrgTlQoW5V3SvFC55kotvewKuQM4BXAm4BTUUGLC+fUgWdRFfGxbPstsBF4Kjs2iKqJKSoYAaqWxtk19kN7z3moanoYcBDacxav14f2ejcDNwD/Cwxlx0rkgj2leKHzTISAkcJ2JnABcAI6ZnOpoeOvXwJ3AfcDj6M90sAky1ECZqHCdzjas56AqrDdhbTPAP8N/DPwY1Tgdnuv5/GMhSE3kgCcjvYgg+SV125PAd8F3o2O5cpt5NvOZnvYZhwEnAt8HVUzi+XaCXwDFVBLgMezB+JW9PnAVcAutCJbVVCATcA/AMeTWyDdPFzBGUuAxiqP3axAFlkGfBptAIrl3Ah8CLWWuvl5PHsEboV+DfAL8spbzT53AF8GjmJk5S2RC9pUEGTXdFmOqpVDaFntpwC3AEc7ab3geXY7VuAMcBFqohd0rGYr7k+BMxqctzsrcFEVDoEV6PjSNha25/sNcLaT1qubnt2GrXwl4O9Q44PbUwwBn0Utiu45e1JvURS+Y4F7yBsO23jsAi4pnOfxTCm20pWBK8l7NStwz6A9h6XEnl1RXeE7FPgReh91chV5EHhf4RyPZ0pwK9sHyNUwK3CbUAuhZTqpY3a8txCdPLeCZ3u8QeBPsjTeuOKZMmxFOwf1eXQFbgfTf/xjBW85OkFfFLwtwClZmul4f55phq1khwMPM9JCWWXvGffY+3wL6rlipxSs4N0PHFxI6/F0HCtEJdTEbo0N1oDyT06a6V4R3Qbji+S9nfv5pSbpPZ6OYQXpPPLW37b8a1D3Khg9DzZdsfd7GPB/5AJnx7C7gLMKaT2ejmFb8m7gVkbPxb03O763VT57Px8kv9eUvLe7CY1uAN/beTqMrXznoOE1rtA9gHr2u+n2Fuz9LAQeJO/trND1Am8spO3IBT0vbGyIToJaJhO00tmW/QbUfxH2Po/8FL3PJ9D7hHyqoI72cuegYUM2rcczaWzjuwwN+HR7ue3A7xXS7W3Y+3oFuZubq2KuRyPf3bSTvpjHA3AMGhzq9ma/QpdCeD5xow/c/alyKbP3+ys07s/+Zpd4WIDO6XUEL3QvbAxqiUzRunBc9rsrdI8A2xr83kncsBvj7Lu/TQV9wEpn35YF8vi7lEm6vLUKLPTsvbhLLdglC7rIVSibBuBJVNV8PsogwIwoqrweWASsHRrqv54kWRRK8FpBKiY1P65W+1YzUgA6jV0WIgV+hnrhdBeu93J0nZfN5M9sQpHnUyV0n0P/1EeAz7SZ5mTUWwA0YPLhNq4zkXPaYTnwp9n3bwJ3dyDPdp6JpZP3ZSuXrWiLgCOAV6NeKBYrdJsK53UKA0gXXftUkfcQcLwRuRW4PhY5IiX9e4OZIYG8H1idXX8q1jRZh/4nLyd/RmT730GXergV9Vix6610+tl0hG3oDfxkHGneS96KnNzmdSZyTjuc7eT7Rx3Ks9EzmY0aM5ahy9NZOnFfrpd9iMa//SPwELnBwJ2nss6/b87OKRXycr83U7VaHSsBzGDG3DBKVoVJRcpR/EOAOI7PCOPK9jCuSBjHlxWu3yjivHiNsaLSW+WRoMJVnKd0t63At4A/cM5r22HAq5d7Fm9A3a9AK/sNzZOOC3fNxyOBy1EzuLucnRTSGnR1rq0N8rPH3dXAXPWvuMakcc7DPU8Qg0GyI3WAwXJ5dVStvgsIjTH3ZeekjFYxG5WBQppiL9QoD3d/AF04yc3P5mnTvQh4G/p/XQt8ArX6tqUC78lC93Xg37Pv23dnQZ4nXoz+SdWxEnYAWxFejwadWncuOxfXrFfYhS7k4+bh5imF/WKlD8l7DBgpjAEgIX0DVZLUqa4hvb2bhkY2OMXKbJfPc8vgCpc1ENUYrfa5Zas6++64zq6T6TZA7jOy2kAPGk1/NHApOuwYU9Xck4WuL9v2VjaPnaQj2ErwBrQhm0MubM1UIlsR7VLmZHlEUaVyNiJHSp21ImadKfFWYKAa8Hn6+21lnVWO4xUQHGeM1JBgZXWw51rY1AtApTI/TPkASDSA3EQ+VjNANY7jpWJKbxeRGWLkhtrAwE8Boqj7SEz9HWLkIBHZEIhcOzQUbYrj+gX1gLtq/f2r4jh+XSrmTQT0CPy6DNcMDAz8Jstboqj7SDHVC4RgoYHNUpfrarWBO5zrgxqPBlBVs1HP5Vp9Qef3rkGXIfwZkxzjfQZdbObPgZcBN6J/nDve+GKW5qJs//Js/1NOGnf80iyf4hjn1Vk+XwaWOum6gSvQwey/MjJ6uTj2WZGlO69wXz2oYeR7wNeA1zW497ej0cUfAf7QybfRmG6+U1bbi5yS7R+a7b8m2/9Ctu8+W1v225zr3JIdnzuO+2rGS9BFV90wnVabHcvchS7iaukJ4+T2KKlIGCfP6bgrER17VaxHfqkcVz4bJpXs90TCpCJR0vVxm0kYV67W44mEUbIzjJMtYZxIFMU3A8Rx1+vCOBkK44qUo8qH9Ld4SRhXVg+fFycSxvH9YZzcESUViaLovHI5OSWMk2fDJBm+bpgkt3dlLmxxHB8aRsndTpmlnCRPlpPk1bZo2eer0Jg6N+Kg2ZY6z3RV9n9NCisI21DJtxf6gpPG/kE/yPZtNO6WcebTjiElQFuS4o3/bYNz7mRkJZqTpTHA9xvkYRsNUD88d7m2zc73RkK3r3PcWhmvzvbPz/avyvbtRHPxfn/E6DIJqoa2c1/NCNGQnFaGgWZC90NGLqPXHcXJTVml74/i5KEwSbZmwvUg3d1zoig6MoxUGKM4uSWMk9syAdgcRdHhs5k9M4wr94dxIuUo2RrG8a/COKlqeit08elhHO/MBOtSgChJPppd59kwSX4exsmzWTmq5bjyH+VK5YQojm/M0jwcxZXrwzjpz/K4GKAcJVdkArcjTJLrwjh5TBuE5DpU67OGpuXouK4dobOCZ9N9Yoz/o+3J8dmoK4zllGYJ28jHXVd+vPmcji4sA7pU9tPZ90sYrSofR24EKAEnZd/PQMc2oL2FFYJPk7d0p5GrGhsZe/38beiaIaDeC5D3ePZzfva5tkke68n9G0FVnIfIzdKWZvfVjOXk4SntTujadNvRRtI5z4gxBjBrKKfnisjtejQoUa9XgMMxMgt4TtLgr8TwN0AdkTnGmEOr3dXYIF0AgZGVpOkfgzwIBqShSqa/ybBHyD0mTd+F4Z6sWHfXBvv/rJSmT4NZDoIRvhWWg3dj+EU2FNP5R2OOwRgE+Vl1YODtIDeCICJLkySZT64S9pKvPj2mYWTk8+F8VLNoSrtC92tgCfDzbP/QFmlbsQaNXZpoPsdkn4Ka8T+a7e8LHFBI+w7yXse91gnZ53OoWvnX2X4X8LvZ9yXOeW8mVwFbYYXJCteSwueCQroiK4APO/vvQefNHiuka3ZfzTgNtbZZQ0E72Eq0q7Dvptg1dODQWoPJGpvUAIhIJTveb0xtl6nXd2EtlSKhiAznJcZsq1Qrj4PZiWk6CBI0gxkql2bn0NDQYwa2ZGaOEtArImWBBAwEPNbb27tJRJ7W9oEIiAxaNqMN/5AQbNTcTVlEQueag4xu7MbCTpT/Djo0apmwHWwrbgfVE3WBsS30RPOx5RW0Il2LVuoljDZMbGSkIcZea2H2uQnVxR9y0sxrcM0dNDabF7HCtADtMRdl+0Whm6wfY7P7asarxpm/27L3tkhXYgtdmFEahgwf1+eQVWZTzBugXK1UKzQ26DS5r7TETBJE7HXtC0Ygk9vUmPlxHB8WYHokL9OwpdNgZs+YMeMA8obatYKCCtxkrMq/3+rgnmy9bISdswnQXuFi8tZ4d+P2dIeQV6TF6HOeW0g3VSzKPsfTwNm0/S1TBaQI0iRnd7zTDDHGpE00uHbUOvc62XeBlEtTzDuBBdkh+w48gwhizMlDtfrtxjAnOzNk5POx0eMT5eBWB6ebw/N/oWH1oIaPyyeR1yJ0TPijSZbJ4vZ0i53fZ6IeJqVCuqmi0YRxu0zknFZl6EAGQY2d9GNMLSvdqLyNLn57MLkhZBB3nk2kGzgMoUuPG7viWado6as63Xq6OjrfZE2zn0LVrW9PIK8So8eBk8GqjQegvoyg70NbRm597UffxzaVPI6OoydCpybuJ1Kh3TAfRGSbwWCQWVEUHYKwb5aiF1UHh8OAjOEqMeZ6ajUAqVbLm9D/WzAGI9yaBnzS1GpVIDXG9A8ODbn/i33/wkRp6Rs73Xo6UMPC6ainhEEdkI+fQD4bUE8Cd1s5iXI9Qm6ssOv6/2f2+drs81E626K2w52TOLd1/ZC2/Rsn4ptpUQ3BBHdlFz1WgtK/CByPCMZwNzAkIhEgYBB4uNrff4+UShWC4Kgw5KDhEgNiZHOtv//OqjG7KJWWocYo9zXMEfk4sV3EuZfbWiWcjkIH2oOchaoNEWruHy+DaMDiQ2gofszknkcfauYHHUgPoVMSdh+mXrUEVZ93MLHQmFaaUErY0M3KDB8fGRPXMI+gL2iUx6j8auXgWxhZCWYGIkcB3QZuCeCrWTr3v1MjjvBBY4KvUJJLGLn8RAmgHATnGczXxASfjeP4QOd8V+jaVY3tPTzIGI33dBO6E7NtIXAH6pEC2tPNbHbSGCxB1dVVjN/SV8QVqnXoVEuz441wK1/x3W4TZTXq3VLMvx2iFsdKCAZjx6oGRIwxRsczal20YyqLFT5bkcv1Sj2kjWFOOCTzEZkLPCpiPpiKObeSxOcPDAw8AWCMqQ3POojE2bWC7IKDQN3kZbHPNhBN0M/IZ1NhfM9fyMfsX2OMIUS7Que+LmksWqUZTz6NuBn14PiLbN9VnfYbnbwh1gw+MyuP+57qRtY6Q/vPaW3h+y7yCfzi8VZlgw64E2UMAJ9Hx77tvmfbCkdPg0NGJ85kabgr+RzCcZnSlnYFQTUtlZ4AhsDMElO6iKB0ERCCDIiUnir1lqpix4rC8bW6fBzDUrT2O1bIYSEYAjBB+nFM8GIwvWLMmjCQX+5M0+GphlKp9IwgT6mGac6JkuQvA1iGCCZlPVCvY9YhYIRXRFHyYYM5LauJW7oGB10Pqi5Gv7+8GW5P/m3UvbEl7RpSjkYniG3I+rPOsV3oe5+PRl1gjqE5RwGXNcmnHVajPd0ZqHuU9bQYZKSnSyvuBS5EhXRFViY3f8g960Hvu91J/KLQgQ6qrQCNNUe3pnDdg9CogMlgUGeEj6Fud2Xy9203avxsqIxB50JHh8KIgKEbY1aosAgGebyvr28zB7Az2pH8jxhzJiIXD59C+oNadeCBKv21MvFDxgSHI7IYYxZrfgaTvyc8BFPBGBAToj3WokwwlwXI91JhYzhY3WCS5I6SMV/u7+9fH0XJ9WLMcoSTBDkJYwCekLR2I4Ax8l1Sc54YswgjVw4LuuE72/U/t5EH3eRrXTbDTlXYBvn76NqZ/Yzh8Nyu0MWM/PN/6nz/CWpRPAB9nexgi3wTNGK6UT7t8CVU6BYwsoJek123HW5C3Ztmk48HQHtR29qtdH6/cBzlayR0a2l/TPcwamw5DJ3vuxz1m+wEX0HVpivJl5Oza6MUhc8K2VxgH0Y2QqKVWR4wyA8F3gIylNbNp4Eam6gRpe/DlHrJ3spqRO4JDB+pWdcqYz6HcDAQici/GcMCUjnKGLkXoB4E241wN5LOSo3ZAqRGzBUScDUiB6BCOB/DfMEcW01ZDLxtaGi/q8rJ1tgIZwNdiGwISsEnBgeq9wPUBgZ+HEXJZSLmYgLmIvQK5praQP83C/f9InLXv2Yxdfa5VdH/6Aq0/kw6itw65d5LvrZ9PyNn3E9FK/wgWkFbOTy3yqfdyPFLyd8hXQOuI2+Viucc6+y7LlanosYYQSvCzYz0pi+hgieooeVjTj6tIscXO+lOzH67PNsvxgQ2i6Z/JbklVBjt8NzqvprhVpy3og1W0cG5XtgXdE7U7eW7o7jyg0i991cCs0mSRSTJogbXrMRxvDjuiZegwl4oR2VekiR2EjmBHreiRz09PftB9/723CiKzg+TZEsYxfeFceULYZzcGibJ09b5uhzHp2XnlqhUfieKug+HHnfIkV+7u3tO1N39kkqlMr9w3PZalzjPwW5Fx+caGj/3VvJOpiM2kmLFWIC2fEVmMba3u0uzfMbDoeTqyESZT3NnZoP2OOM1HXeKQ1Ah7pSxyxW8Jeg4bx2jveWt8cM2nG7D6ArdKnqaVOrGZZ7wBHk5jl+TRRVU4zg+0/4expVLM6EbKEUV+7684nVMk++N0tjPTzLyuditis57fg99h51b59v+n8Y7Od7MKrOjye/jzWc8rOtAHq3GgYKqeruLoqPzZHHnkdaiY+uvog7RJ6KT+HYS3Y7j9kN72jsK+QAmJXdeLhpo7JjQ9YYpThu4frTuNW05baBo1ajXfg9QS405N4qiEIKelPQUo0PM3kCCR+p5Pq5wuaqeqxq6v9lr2s8S6m/8JOoYvxmtbw+gGtIacodod4qkI7SzoJBn+lEcx4Xo+Osh8p7OqphfJW+c9wnj5DYNYq3cR3f3/tnvk3bzalFOwq6u5VGSPJoHn2YBqlkwaznp+hije6uJYtBIgZeh2tSBNNaoJrwQ7nRzA/N0Btsqu8aAX6IWuPczslc8Ca18DwOpMawSJAFzD2HYrvFqUuWs9vWtLifJhYFhhaQswdCDSM3AbwX5fm2g7xpG9laTQdDYxvUNjpVoz5F7Uvie7oWB+zrgjYw2rti4RYNaPiu0njh/vjDQPaerq+ugLroOJDfQ2LJ1ioDc/3KqlnYfpsTknT8904vLGGk4EHR884bdWSgm57/p8eyRuEYRu56LoAYDQY0KxYWQbIPcyUpvTfeNehnjHJ+2wra3vMbW0xnsxO7K7PNYVI2so25zZ6BeMk+Qr5Zlx1LFt+6MF5tH0Uxvy+WO1yY7btuteKHzuFi3phoqeI+iwaB2GYsIXePxdNTCB+ovaoNAR7qLje6RmoX6FF/EsS/qFVIhc1Z2yjbtmZbds+d5x+1V5gPvQle5WlpItwudu7oX9Vtdg87BPsPYb/qxwmeFbSY6Z3gqOnnfhaq2G1B3wZvILYqdsFLuNrzQeZphhcKaxhejC+aehTq3zy6kH0QXe3oKtYD+BvXeWI8K4lOokPYx2tx+OuoudxyNHY1T9IWNV6NBy52aHtgteKHzjEXRgbcbnUg/GVU1l6LO7o2EpY762PahIU5PogK5ARXEJ9BlDz+EqpP2nCJ2GFRFFxa+kmkseF7oPO1QVAUtMTpx/tJsOwJYhBpbZjO232o/+VybO2FfxE5GW3ezd6LLL3qh87wgcP0pi3ShblPzUaf2eagQzkPDhOai/pzupHYxLq0VdVTwfo6u0r2FaSh4Xug8k8G1RjZzjTJoREk32vvNQ73zj0PfcpMtg9eWJd2qlNuAM1Hh2yPfgurxTBV2mqDdSfMLUeOKdTtzX9rSaLNO2M/A8LsN9oppBI+nk7heJO5muQANDbPRDY0ELy38fg254cZrax5Pm7iCdxY639eqlxO0V/wG+WT9tBS4aVloz16DawRZCLwRHasdAeyP9m5b0QDSu9BlNe5GJ82nnQHF4/F4PB6Px+PxeDwej8fj8Xg8Ho/H4/HsPv4f1ES20eN3WucAAAAASUVORK5CYII=');
    background-size: cover;
    height: 39px;
    position: absolute;
    right: 10px;
    top: 42px;
    width: 110px;
  }
}

.podcast-player.mode-iframe {
  @media (max-width: $mobile-breakpoint) {
    .cover-image {
      display: none;
    }

    .buttons {
      right: 0;
    }
  }
}
