$background-color: transparent;
$default-color: #000000 !default;
$light-grey: #FFFFFF !default;
$dark-grey: #e1e1e1 !default;
$highlight1: #4d4d4d !default;
$highlight1-light: #a4a2a2 !default;
$highlight2: #4d4d4d !default;
$transcript-highlight: $highlight1-light !default;
$transcript-search-highlight: $highlight1-light !default;

$mobile-breakpoint: 500px;
