$background-color: #FAFAFA !default;
$default-color: #113C46 !default;
$light-grey: rgb(230, 230, 230) !default;
$dark-grey: #A9A9A9 !default;
$highlight1: #258398 !default;
$highlight1-light: #CAEBF2 !default;
$highlight2: #FF383F !default;
$transcript-highlight: $highlight1-light !default;
$transcript-search-highlight: $highlight1-light !default;

$mobile-breakpoint: 500px;
