$background: transparent;
$footer-background: transparent;
$black: #29293A;
$progress: #E9FBF8;
$progress-loaded: $black;
$progress-played: #009990;
$mobile-breakpoint: 521px;

@import '../sz-common/index.scss';
