$background-color: rgba(255, 255, 255, 0.3);
$default-color: #000000 !default;
$light-grey: #FFFFFF !default;
$dark-grey: #e1e1e1 !default;
$highlight1: #595959 !default;
$highlight1-light: #828282 !default;
$highlight2: #595959 !default;
$transcript-highlight: $highlight1-light !default;
$transcript-search-highlight: $highlight1-light !default;

$mobile-breakpoint: 500px;
