$background: #8AB8DF;
$footer-background: #5196D5;
$black: #29293A;
$progress: #ADCDE7;
$progress-loaded: $black;
$progress-played: #009990;
$mobile-breakpoint: 521px;

@import '../sz-common/index.scss';
