$background: rgb(238, 238, 240);
$black: #252525;
$progress: rgba(37, 37, 37, .3);
$progress-loaded: rgba(37, 37, 37, .2);
$progress-played: $black;
$mobile-breakpoint: 521px;

@font-face {
  font-family: "TabletGothic";
  src: url("https://static.zeit.de/assets/latest/fonts/tabletgothic/TabletGothic-Regular.woff2") format("woff2"),url("https://static.zeit.de/assets/latest/fonts/tabletgothic/TabletGothic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "TabletGothic";
  src: url("https://static.zeit.de/assets/latest/fonts/tabletgothic/TabletGothic-Italic.woff2") format("woff2"),url("https://static.zeit.de/assets/latest/fonts/tabletgothic/TabletGothic-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: "TabletGothic";
  src: url("https://static.zeit.de/assets/latest/fonts/tabletgothic/TabletGothic-Bold.woff2") format("woff2"),url("https://static.zeit.de/assets/latest/fonts/tabletgothic/TabletGothic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal
}

.loading-animation .spinner > div {
  background-color: #313131 !important;
}

.podcast-player {
  background-color: $background;
  color: $black;
  font-family: "TabletGothic", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  padding: 22px;

  .hidden {
    display: none;
  }

  .main-player {
    margin-bottom: -34px;
  }

  .cover-image {
    border: 1px solid rgb(204, 204, 207);
    float: right;
    height: 88px;
    position: relative;
    right: -5px;
    top: -5px;
    width: 88px;
  }

  .episode-basic-info {
    margin-left: 74px;
    position: relative;
    width: calc(100% - 176px);

    .podcast-title {
      color: #535560;
      font-size: 13px;
      letter-spacing: 1px;
      line-height: 1em;
      margin-bottom: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
    }

    .episode-title {
      color: #33333c;
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.4em;
      overflow: hidden;
    }

    .button-show-description {
      border: 1px solid #77777c;
      border-radius: 100px;
      color: #77777c;
      display: inline;
      font-size: 12px;
      padding: 0 7px;
      position: relative;
      top: -3px;

      &:hover {
        border-color: $black;
        color: $black;
      }
    }
  }

  .episode-description {
    color: #44444c;
    font-size: 15px;
    margin: -48px 0 35px 75px;
    width: calc(100% - 176px);

    p {
      line-height: 22px;
      margin-bottom: 12px;
    }

    a {
      border-bottom: 1px solid #44444c;
      color: #44444c;
      text-decoration: none;
    }

    a:hover {
      border-color: #252525;
      color: #252525;
    }

    a:active {
      border-bottom: 1px solid #99999c;
    }
  }

  button {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: "TabletGothic", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
    outline: none;

    &.play-button {
      border: none;
      color: transparent;
      height: 60px;
      margin: 0;
      padding: 0;
      position: relative;
      top: -40px;
      width: 60px;

      .play-button-paused {
        display: none;
      }

      &:before {
        display: none;
      }
    }
  }
  &.playing button.play-button {
    .play-button-playing {
      display: none;
    }

    .play-button-paused {
      display: block;
    }
  }

  .play-button-playing,
  .play-button-paused {
    #Group-7, #Rectangle-6 {
      transition: transform 0.2s;
    }

    #Group-7 {
      transform: translate(21.5px, 18.0px) scale(1.0);
    }

    &:hover #Group-7 {
      transform: translate(19.5px, 16.0px) scale(1.2);
    }

    &:hover #Rectangle-6 {
      transform: translate(-6px, -6px) scale(1.2);
    }
  }

  .progress-bar {
    display: inline-block;
    left: 20px;
    padding-top: 20px;
    position: relative;
    top: -32px;
    width: calc(100% - 180px);

    .progress-bar-time-played {
      font-size: 12px;
      float: right;
      position: relative;
      top: -7px;
    }

    .progress-bar-rail {
      background-color: $progress;
      border-radius: 3px;
      cursor: move; /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      min-height: 6px;
      position: relative;
      width: calc(100% - 71px);

      &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
      }
    }
  }

  &.playing .progress-bar .progress-bar-time-played {
    display: block;
  }

  .progress-bar-played,
  .progress-bar-loaded {
    background-color: $progress-played;
    border-radius: 10px;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 0;
  }

  .progress-bar-played:after {
    background-color: $black;
    border-radius: 50px;
    content: '';
    height: 16px;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 16px;
  }

  .progress-bar-rail:active .progress-bar-played:after {
    height: 12px;
    right: -4px;
    top: -4px;
    width: 12px;
  }

  .progress-bar-loaded {
    background-color: $progress-loaded;
  }

  .progress-bar-buffering {
    background-color: red;

    &:after {
      animation: move 2s linear infinite;
      background-image: linear-gradient(
        -45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent
      );
      background-size: 50px 50px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      content: "";
      overflow: hidden;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }

    @keyframes move {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 50px 50px;
      }
    }
  }
}

.podcast-player {
  @media (max-width: $mobile-breakpoint) {
    padding: 30px 15px;

    .main-player {
      margin-bottom: -5px;
    }

    .cover-image {
      box-shadow: 0 10px 24px 0 rgba(0, 0, 0, .05);
      display: block;
      float: none;
      height: auto;
      margin: 0 auto 30px;
      position: static;
      width: 66%;
    }

    button.play-button {
      top: 0px;
    }

    .episode-basic-info {
      margin-bottom: 30px;
      margin-left: 0;
      width: 100%;

      .podcast-title {
        margin-bottom: 30px;
        text-align: center;
      }

      .episode-title {
        display: block;
        line-height: 1em;
        margin-top: 0;
        text-align: center;
      }
    }

    .episode-description {
      margin: 20px 0 0;
      width: 100%;
    }

    .progress-bar {
      top: -15px;
      width: calc(100% - 84px);
    }
  }
}
