$background-color: #F8F8F8 !default;
$default-color: #252839 !default;
$light-grey: rgb(230, 230, 230) !default;
$dark-grey: #B5B5B7 !default;
$highlight1: #777D9E !default; // main color
$highlight1-light: #99A7CC !default; // main color light
$highlight2: #F2B632 !default; // highlight
$transcript-highlight: $highlight1-light !default;
$transcript-search-highlight: $highlight1-light !default;

$mobile-breakpoint: 500px;
