@import 'variables';

.podcast-player {
  &, *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  background-color: $background_color;
  color: #222;
  font-family: Helvetica;
  overflow: hidden;
  position: relative;
  width: 100%;

  a {
    color: $highlight1;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .main-player {
    position: relative;
  }

  .episode-basic-info {
    max-height: 90px;
    padding: 23px $default_padding 0;
    position: relative;
    overflow: hidden;

    .episode-title {
      color: $highlight1;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .episode-subtitle {
      color: $default_color;
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .cover-image {
    float: right;
    height: 90px;
    padding: 5px;
  }

  .controls {
    float: left;
    height: 90px;

    button {
      font-size: 36px;
    }

    .play-button {
      border: 3px solid $light_gray;
      border-radius: 100px;
      color: $dark_gray;
      height: 70px;
      margin: 10px 0 0 10px;
      padding: 2px 0 0 9px;
      width: 70px;

      &.fa-pause {
        padding-left: 1px;
      }
    }
  }

  .controls-advanced {
    bottom: 13px;
    display: none;
    left: 155px;
    position: absolute;

    button {
      color: $dark_gray;
      font-size: 14px;
    }

    button:hover {
      color: $highlight1;
    }

    .speed-toggle {
      cursor: pointer;
    }
  }

  &.playing .controls-advanced {
    display: block;
  }

  .progress-bar {
    clear: both;
    overflow: hidden;

    .progress-bar-time-played {
      color: $dark_gray;
      cursor: pointer;
      display: none;
      font-size: 14px;
      left: 92px;
      position: absolute;
      text-align: left;
      top: 68px;
      width: 70px;
    }

    .progress-bar-time-played:hover {
      color: $highlight1;
    }

    .progress-bar-rail {
      background-color: $light_gray;
      cursor: ew-resize;
      min-height: 10px;
      overflow: hidden;
      position: relative;
    }
  }

  &.playing .progress-bar .progress-bar-time-played {
    display: block;
  }

  .progress-bar-played,
  .progress-bar-loaded {
    background-color: $highlight2;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 0;
  }

  .progress-bar-loaded {
    background-color: $dark_gray;
  }

  .progress-bar-buffering {
    background-color: red;

    &:after {
      animation: move 2s linear infinite;
      background-image: linear-gradient(
        -45deg, 
        rgba(255, 255, 255, .2) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255, 255, 255, .2) 50%, 
        rgba(255, 255, 255, .2) 75%, 
        transparent 75%, 
        transparent
      );
      background-size: 50px 50px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      content: "";
      overflow: hidden;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }

    @keyframes move {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 50px 50px;
      }
    }
  }

  .buttons {
    position: absolute;
    right: 90px;
    top: 68px;

    button {
      color: $dark_gray;
      display: inline-block;
      font-size: 16px;
      text-align: center;
      width: 26px;
    }

    button:hover,
    button.button-active {
      color: $highlight1;
    }

    img {
      height: 14px;
    }
  }

  .panels {
    color: $default_color;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;

    & > div {
      max-height: 400px;
      overflow: hidden;
      padding: 0 0 0 $default_padding;
      position: relative;
    }

    h3 {
      margin: 12px 0;
    }
  }

  .panels {
    .chaptermarks,
    .playlist {
      ul {
        display: block;
        height: 300px;
        margin: 0;
        padding: 0;
        overflow-y: scroll;

        li {
          background-color: none;
          cursor: pointer;
          line-height: 30px;
          list-style: none;
          padding: 0 5px;
          position: relative;

          &+li {
            border-top: 1px solid $light_gray;
          }

          &:hover {
            background-color: $light_gray;
          }

          &.active {
            background-color: lighten($highlight2, 55%);
          }

          img {
            float: left;
            width: 30px;
          }

          span {
            display: inline;
            height: 100%;
            margin: 0 0 0 10px;
            overflow: hidden;
          }

          .chaptermark-start {
            float: left;
            margin-left: 0;
          }

          .chaptermark-image + .chaptermark-start {
            margin-left: 10px;
          }

          a {
            color: $highlight2;
            font-size: 16px;
            right: 5px;
            position: absolute;
            top: 5px;
          }
        }
      }
    }

    .playlist ul li {
      span {
        margin-left: 0;
      }

      a {
        padding: 0 5px;
        position: static;
      }
    }

    .episode-info {
      font-size: 16px;
      max-height: 400px;
      overflow-y: scroll;
      padding: 0 12px;

      .episode-title {
        font-size: 22px;
      }

      .episode-subtitle {
        font-size: 18px;
        font-weight: 300;
      }
    }

    .share {
      padding: 12px;

      .share-copy-url {
        background: transparent;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 20px;
        outline: none;
        padding: 4px;
        text-align: center;
        width: 100%;
      }
    }

    .transcript {
      .transcript-text {
        height: 340px;
        list-style: none;
        overflow-y: scroll;
        padding: 0 12px 0 0;
        width: 100%;

        li {
          cursor: pointer;
          font-size: 1.2em;
          line-height: 1.4em;
          margin-bottom: 8px;

          &:hover > *,
          &.active > * {
            background-color: $transcript-highlight;
          }
        }
      }
    }
  }

  @media (max-width: $mobile-breakpoint) {
    .cover-image {
      border: 12px solid $background_color;
      border-bottom: 0;
      display: block;
      float: none;
      height: auto;
      width: 100%;
    }

    .episode-basic-info {
      .episode-title {
        font-size: 16px;
      }

      .episode-subtitle {
        font-size: 14px;
      }
    }

    .controls {
      height: 115px;
      position: relative;
    }

    .controls-advanced {
      bottom: 20px;
      left: 0;
      top: auto;

      button {
        font-size: 24px;
        padding: 0 8px;
      }
    }

    .buttons {
      margin-top: 25px;
      position: static;
      text-align: right;

      button {
        font-size: 24px;
        padding: 0 8px;
        width: 35px;
      }
    }

    .progress-bar {
      .progress-bar-rail {
        min-height: 20px;
      }
    }

    &.playing .progress-bar .progress-bar-time-played {
      display: none;
    }
  }
}

