.podcast-player {
  $default_padding: 12px;
  $default_color: rgb(122, 122, 122);
    .pause-button .controls-advanced {
      display: block;
    }
  $light_gray: rgb(230, 230, 230);
  $dark_gray: rgb(200, 200, 200);
  $orange: rgb(245, 113, 80);
  $highlight: rgb(50, 156, 146);

  &, *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  background-color: #f6f6f6;
  color: #222;
  font-family: Helvetica;
  overflow: hidden;
  position: relative;
  width: 100%;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .episode-basic-info {
    max-height: 90px;
    padding: 23px $default_padding 0;
    position: relative;
    overflow: hidden;

    .episode-title {
      color: $orange;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 3px;
    }

    .episode-subtitle {
      color: $default_color;
      font-size: 16px;
    }
  }

  .episode-cover {
    float: right;
    height: 90px;
  }

  .controls {
    float: left;

    button {
      font-size: 36px;
    }

    .play-button {
      border: 3px solid $light_gray;
      border-radius: 100px;
      color: $dark_gray;
      height: 70px;
      margin: 10px 0 0 10px;
      padding: 2px 0 0 9px;
      width: 70px;

      &.fa-pause {
        padding-left: 1px;
      }
    }

    .controls-advanced {
      display: none;
      left: 155px;
      position: absolute;
      top: 66px;

      button {
        color: $dark_gray;
        font-size: 14px;
      }

      .backward-button,
      .forward-button {
      }

      .backward-button {
      }

      .forward-button {
      }

      .speed-toggle {
        cursor: pointer;
      }
    }

  }

  &.playing .controls .controls-advanced {
    display: block;
  }

  .progress-bar {
    clear: both;
    overflow: hidden;

    .progress-bar-time-played {
      color: $dark_gray;
      cursor: pointer;
      display: none;
      font-size: 14px;
      left: 92px;
      position: absolute;
      text-align: left;
      top: 68px;
      width: 70px;
    }

    .progress-bar-rail {
      background-color: $light_gray;
      min-height: 10px;
      overflow: hidden;
      position: relative;
    }
  }

  &.playing .progress-bar .progress-bar-time-played {
    display: block;
  }

  .progress-bar-played,
  .progress-bar-loaded {
    background-color: $highlight;
    display: block;
    height: 10px;
    position: absolute;
    top: 0;
    width: 0;
  }

  .progress-bar-loaded {
    background-color: $dark_gray;
  }

  .buttons {
    position: absolute;
    right: 90px;
    top: 68px;

    button {
      color: $dark_gray;
      display: inline-block;
      font-size: 16px;
      text-align: center;
      width: 26px;
    }

    img {
      height: 14px;
    }
  }

  .panels {
    color: $default_color;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;

    & > div {
      max-height: 300px;
      overflow: hidden;
      padding: 0 0 0 $default_padding;
      position: relative;
    }

    h3 {
      margin: 12px 0;
    }
  }

  .chaptermarks,
  .playlist {
    ul {
      display: block;
      height: 200px;
      margin: 0;
      padding: 0;
      overflow-y: scroll;

      li {
        background-color: none;
        cursor: pointer;
        line-height: 30px;
        list-style: none;
        position: relative;

        &+li {
          border-top: 1px solid $light_gray;
        }

        &:hover {
          background-color: $light_gray;
        }

        &.active {
          background-color: lighten($highlight, 55%);
        }

        img {
          float: left;
          width: 30px;
        }

        span {
          display: inline;
          height: 100%;
          margin: 0 0 0 10px;
          overflow: hidden;
        }

        .chaptermark-start {
          float: left;
          margin-left: 40px;
        }

        .chaptermark-image + .chaptermark-start {
          margin-left: 10px;
        }

        a {
          color: $highlight;
          font-size: 16px;
          right: 5px;
          position: absolute;
          top: 5px;
        }
      }
    }
  }

  .playlist ul li {
    span {
      margin-left: 0;
    }

    a {
      padding: 0 5px;
      position: static;
    }
  }

  .episode-info {
    font-size: 16px;
    max-height: 300px;
    overflow-y: scroll;
    padding: 0 12px;

    .episode-title {
      font-size: 22px;
    }

    .episode-subtitle {
      font-size: 18px;
      font-weight: 300;
    }
  }
}
