$background-color: transparent !default;
$default-color: #2E1814 !default; // main darker
$light-grey: #FDFDFD !default;
$dark-grey: #A7B3A5 !default;
$highlight1: #B56357 !default; // main
$highlight1-light: #D5A69F !default; // main light
$highlight2: #B4DBC0 !default; // highlight
$transcript-highlight: $highlight1-light !default;
$transcript-search-highlight: $highlight1-light !default;

$mobile-breakpoint: 500px;
