$mobile-breakpoint: 900px;

$color-00: #0BFFCB !default;
$color-00--alpha: rgba(0, 255, 200, 0.27) !default;
$color-01: #0E181F !default;
$color-02: #253B4B !default;
$color-03: #4E6775 !default;
$color-04: #9CBFD3 !default;
$color-04--alpha: rgba(156, 191, 211, 0.46) !default;
$color-05: #F5F8FF !default;
