$background: #222;
$text: #fff;
$highlight: rgb(211, 131, 142);
$progress: rgba(255, 255, 255, .3);
$progress-loaded: rgba(255, 255, 255, .2);
$progress-played: $highlight;
$mobile-breakpoint: 521px;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

.loading-animation .spinner > div {
  background-color: #313131 !important;
}

.podcast-player {
  background-color: $background;
  color: $text;
  font-family: $font-family;
  padding: 15px;

  .hidden {
    display: none;
  }

  .main-player {
    margin-bottom: -30px;
  }

  .cover-image {
    border: 1px solid rgb(204, 204, 207);
    float: right;
    height: 88px;
    position: relative;
    right: -5px;
    top: -5px;
    width: 88px;
  }

  .episode-basic-info {
    margin-left: 74px;
    position: relative;
    width: calc(100% - 176px);

    .podcast-title {
      color: $highlight;
      font-size: 13px;
      letter-spacing: 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
    }

    .episode-title {
      color: $text;
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
      margin-top: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 26px);
      white-space: nowrap;
    }
  }

  button {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: $font-family;
    outline: none;

    &.play-button {
      border: none;
      color: transparent;
      height: 60px;
      margin: 0;
      padding: 0;
      position: relative;
      top: -40px;
      width: 60px;

      .play-button-paused {
        display: none;
      }

      &:before {
        display: none;
      }
    }
  }
  &.playing button.play-button {
    .play-button-playing {
      display: none;
    }

    .play-button-paused {
      display: block;
    }
  }

  .progress-bar {
    display: inline-block;
    left: 10px;
    position: relative;
    top: -32px;
    width: calc(100% - 180px);

    .progress-bar-time-played {
      font-size: 14px;
      float: right;
      position: relative;
      top: -3px;
    }

    .progress-bar-rail {
      background-color: $progress;
      border-radius: 3px;
      cursor: move; /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      min-height: 8px;
      position: relative;
      width: calc(100% - 71px);

      &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
      }
    }
  }

  &.playing .progress-bar .progress-bar-time-played {
    display: block;
  }

  .progress-bar-played,
  .progress-bar-loaded {
    background-color: $progress-played;
    border-radius: 10px;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 0;
  }

  .progress-bar-played:after {
    background-color: $text;
    border-radius: 50px;
    content: '';
    height: 18px;
    position: absolute;
    right: -6px;
    top: -5px;
    width: 18px;
  }

  .progress-bar-rail:active .progress-bar-played:after {
    height: 14px;
    right: -4px;
    top: -3px;
    width: 14px;
  }

  .progress-bar-loaded {
    background-color: $progress-loaded;
  }

  .progress-bar-buffering {
    background-color: red;

    &:after {
      animation: move 2s linear infinite;
      background-image: linear-gradient(
        -45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent
      );
      background-size: 50px 50px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      content: "";
      overflow: hidden;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }

    @keyframes move {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 50px 50px;
      }
    }
  }
}

.podcast-player {
  @media (max-width: $mobile-breakpoint) {
    padding: 30px 15px;

    .main-player {
      margin-bottom: -5px;
    }

    .cover-image {
      display: block;
      float: none;
      height: auto;
      margin: 0 auto 30px;
      position: static;
      width: 66%;
    }

    button.play-button {
      top: 0px;
    }

    .episode-basic-info {
      margin-bottom: 20px;
      margin-left: 0;
      width: 100%;

      .podcast-title {
        text-align: center;
      }
    }

    .episode-description {
      margin: 10px 0 0;
      width: 100%;
    }

    .progress-bar {
      top: -15px;
      width: calc(100% - 84px);
    }
  }
}
