$background-color: #a6013e;
$text-color: #fff;
$dark: #fff;
$mobile-breakpoint: 800px;

@import '../schwaebische-common/index';

.podcast-player {
  .graphics {
    svg.icon {
      width: 180px;

      .st0 {
        fill:#fff;
      }
    }

    svg.points {
      left: 20%;
      height: 220px;
      top: -20%;
      width: 172px;

      .st0 {
        fill: #ef012d;
      }
    }

    svg.crosses {
      .st0 {
        fill: #fff;
      }
    }

    svg.circles {
      left: 65%;
      top: 15%;

      .st0 {
        fill: #fff;
      }
    }
  }

  svg.icon {
    left: 75%;
    top: 8%;
  }

  svg.crosses {
    left: 5%;
    top: 40%;
  }
}

.podcast-player.mode-script {
  @media (max-width: $mobile-breakpoint) {
    .graphics {
      svg.icon {
        left: 80%;
        top: 8%;
        width: 100px;
      }

      svg.crosses {
        left: 65%;
        top: 10%;
      }

      svg.circles {
        left: 7%;
        top: 20%;
      }

      svg.points {
        left: -15%;
      }
    }
  }
}
