$background-color: #a7003f;
$text-color: #fff;
$dark: #fff;
$mobile-breakpoint: 800px;

@import '../schwaebische-common/index';

.podcast-player {
  .graphics {
    svg.icon {
      fill: #fff;
      left: 75%;
      top: 8%;
      width: 180px;

      .st0 {
        fill:none;
        stroke:#1A1A1A;
        stroke-width:2;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;
      }
      .st1 {
        fill:none;
        stroke:#1A1A1A;
        stroke-width:2;
        stroke-miterlimit:10;
      }
      .st2 {
        fill:none;
        stroke:#1A1A1A;
        stroke-width:2;
        stroke-linecap:round;
        stroke-miterlimit:10;
      }
      .st3 {
        stroke:#1A1A1A;
        stroke-width:0.25;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;
      }
      .st4 {
        stroke:#1A1A1A;
        stroke-width:0.5;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;
      }
    }
  }
}

.podcast-player.mode-script {
  @media (max-width: $mobile-breakpoint) {
    .podcast-title {
      margin-top: 80px;
    }

    .graphics {
      svg.icon {
        left: 80%;
        top: 8%;
        width: 100px;
      }
    }
  }
}
