$background-color: #F7FCFF !default;
$default-color: #325569 !default;
$light-grey: rgb(230, 230, 230) !default;
$dark-grey: #6d6b5f !default;
$highlight1: #5792B5 !default;
$highlight1-light: #9CCBE6 !default;
$highlight2: #DBCC88 !default;
$transcript-highlight: $highlight1-light !default;
$transcript-search-highlight: $highlight1-light !default;

$mobile-breakpoint: 500px;
