$background-color: #FBFBFB !default;
$default-color: #000000 !default;
$light-grey: rgb(230, 230, 230) !default;
$dark-grey: #BDBDBD !default;
$highlight1: #3e3e3e !default;
$highlight1-light: #eaeaea !default;
$highlight2: #b3b3b3 !default;
$transcript-highlight: $highlight1-light !default;
$transcript-search-highlight: $highlight1-light !default;

$mobile-breakpoint: 500px;
