.panels .download {
  .icon-download {
    display: block;
    font-size: 3rem;
    text-align: center;
  }

  .download-links {
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      font-size: 18px;
      padding: 0 10px;
    }

    li + li {
      border-left: 1px solid;
    }
  }
}
