.panels .share-social-links {
  list-style: none;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    padding: 0 5px;

    &:hover a:after {
      background: rgba(0, 0, 0, 0.2);
      bottom: -8px;
      content: '';
      display: block;
      height: 5px;
      position: absolute;
      width: 100%;
    }
  }

  a {
    @extend .icon;

    color: transparent;
    font-size: 1px;
    letter-spacing: -1px;
    position: relative;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  a:before {
    border-radius: 3px;
    color: #fff;
    font-size: 2rem;
    letter-spacing: normal;
  }

  .share-link-facebook:before {
    background: rgb(59, 89, 152);
    content: '\f09a';
    padding: 8px 14px;
  }

  .share-link-googleplus:before {
    background: rgb(221, 75, 57);
    content: '\f0d5';
    padding: 8px 9px;
  }

  .share-link-twitter:before {
    background: rgb(0, 172, 237);
    content: '\f099';
    padding: 8px 9px;
  }

  .share-link-whatsapp:before {
    background: rgb(67, 216, 84);
    content: '\f232';
    padding: 8px 10px;
  }

  .share-link-email:before {
    background: rgb(153, 153, 153);
    content: '\f003';
    padding: 8px 8px;
  }
}
