$background: #81d1c6;
$black: #29293A;
$progress: $black;
$progress-loaded: $black;
$progress-played: #009990;
$mobile-breakpoint: 521px;

@font-face {
  font-family: "SZoSans2017";
  font-stretch: normal;
  font-style: normal;
  font-weight: 800;
  src: url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Black.eot");
  src: url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Black.eot?#iefix") format("embedded-opentype"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Black.woff2") format("woff2"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Black.woff") format("woff"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Black.otf") format("opentype")
}

@font-face {
  font-family: "SZoSans2017";
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  src: url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Bold.eot");
  src: url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Bold.eot?#iefix") format("embedded-opentype"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Bold.woff2") format("woff2"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Bold.woff") format("woff"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Bold.otf") format("opentype")
}

@font-face {
  font-family: "SZoSans2017";
  font-stretch: normal;
  font-style: normal;
  font-weight: 200;
  src: url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Light.eot");
  src: url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Light.eot?#iefix") format("embedded-opentype"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Light.woff2") format("woff2"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Light.woff") format("woff"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Light.otf") format("opentype")
}

@font-face {
  font-family: "SZoSans2017";
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Regular.eot");
  src: url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Regular.eot?#iefix") format("embedded-opentype"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Regular.woff2") format("woff2"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Regular.woff") format("woff"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Regular.otf") format("opentype")
}

.loading-animation .spinner > div {
  background-color: #313131 !important;
}

.podcast-player {
  background-color: $background;
  color: $black;
  font-family: "SZoSans2017", "Helvetica Neue", Helvetica, sans-serif;
  padding: 23px;

  .hidden {
    display: none;
  }

  .main-player {
    margin-bottom: -13px;
  }

  .cover-image {
    float: right;
    height: 125px;
    position: relative;
    top: -23px;
    width: 125px;
  }

  .podcast-info {
    display: inline-block;
    min-height: 100px;
    width: calc(100% - 150px);

    .podcast-title {
      font-size: 30px;
      font-weight: 800;
      letter-spacing: .35px;
      margin-bottom: 10px;
    }

    .podcast-subtitle {
      font-size: 16px;
      width: 80%;
    }
  }

  .episode-title {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .35px;
    margin: 0 0 14px;
  }

  .controls {
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    top: 10px;
  }

  .controls {
    button {
      position: relative;
      left: 26px;
    }
  }

  button {
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    padding: 0;

    &:before {
      content: '';
      display: none;
    }

    &.play-button {
      border: none;
      color: transparent;
      height: 50px;
      margin: 0 10px;
      padding: 0;
      width: 50px;

      .icon-pause-button {
        display: none;
      }
    }
  }

  &.playing button.play-button {
    .icon-play-button {
      display: none;
    }

    .icon-pause-button {
      display: block;
    }
  }

  &.loading button.play-button {
    animation: none;
    background: transparent;
  }

  .skip-backward-button,
  .skip-forward-button {
    height: 30px;
    top: -10px;
    width: 30px;
  }

  .progress-bar {
    display: block;
    margin-bottom: 23px;
    width: 100%;

    .progress-bar-time-played {
      font-size: 14px;
      position: relative;
      top: 35px;
    }

    .progress-bar-rail {
      background-color: $progress;
      border-radius: 3px;
      cursor: move; /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      min-height: 4px;
      position: relative;
      width: 100%;

      &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
      }

      &:before,
      &:after {
        background-color: $progress-played;
        border-radius: 50px;
        content: '';
        height: 10px;
        position: absolute;
        left: 0;
        top: -3px;
        width: 10px;
      }

      &:after {
        background-color: $progress;
        left: auto;
        right: 0;
      }
    }
  }

  &.playing .progress-bar .progress-bar-time-played {
    display: block;
  }

  .progress-bar-played,
  .progress-bar-loaded {
    background-color: $progress-played;
    border-radius: 10px;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 0;
  }

  .progress-bar-played:after {
    background-color: #009990;
    border-radius: 50px;
    content: '';
    height: 18px;
    position: absolute;
    right: -14px;
    top: -7px;
    width: 18px;
  }

  .progress-bar-rail:active .progress-bar-played:after {
    height: 13px;
    right: -11px;
    top: -5px;
    width: 13px;
  }

  .progress-bar-loaded {
    background-color: $progress-loaded;
  }

  .progress-bar-buffering {
    background-color: red;

    &:after {
      animation: move 2s linear infinite;
      background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, .2) 75%,
      transparent 75%,
      transparent
      );
      background-size: 50px 50px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      content: "";
      overflow: hidden;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }

    @keyframes move {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 50px 50px;
      }
    }
  }

  .duration {
    float: right;
    font-size: 14px;
    position: relative;
    top: -9px;
  }

  .player-footer {
    background: #68C1B4;
    bottom: -10px;
    left: -23px;
    padding: 14px 23px;
    position: relative;
    width: calc(100% + 46px);

    .subscribe-button {
      background: transparent;
      border-bottom: 1px solid;
      font-family: "SZoSans2017", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: .8px;
      outline: none;
      padding: 0 0 4px;
    }

    .podcast-connections-items {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    .podcast-connections-item {
      display: inline;
      list-style: none;
      margin-left: 10px;

      a {
        text-decoration: none;
      }

      svg {
        color: $black;
        fill: currentColor;
        vertical-align: middle;
      }
    }

    .all-episodes-link {
      border-bottom: 1px solid $black;
      color: $black;
      float: right;
      font-family: "SZoSans2017", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: .8px;
      padding: 0 0 4px;
      text-decoration: none;
    }
  }
}

.podcast-player {
  @media (max-width: $mobile-breakpoint) {
    .podcast-player .podcast-info .podcast-title {
      font-size: 26px;
    }

    .podcast-player .episode-title {
      font-size: 16px;
    }

    .podcast-info .podcast-subtitle {
      width: 100%;
    }

    .episode-title {
      margin-top: 10px;
    }

    .cover-image {
      top: 0;
    }

    .progress-bar {
      margin-top: 15px;
    }

    .controls {
      margin-bottom: 15px;
    }
  }
}
