$background: #83d0c6;
$black: #29293a;
$progress: $black;
$progress-loaded: $black;
$progress-played: $black;
$mobile-breakpoint: 521px;

@font-face {
    font-family: "SZoSans2017";
    font-stretch: normal;
    font-style: normal;
    font-weight: 800;
    src: url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Black.eot");
    src: url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Black.eot?#iefix") format("embedded-opentype"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Black.woff2") format("woff2"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Black.woff") format("woff"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Black.otf") format("opentype")
}

@font-face {
    font-family: "SZoSans2017";
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    src: url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Bold.eot");
    src: url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Bold.eot?#iefix") format("embedded-opentype"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Bold.woff2") format("woff2"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Bold.woff") format("woff"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Bold.otf") format("opentype")
}

@font-face {
    font-family: "SZoSans2017";
    font-stretch: normal;
    font-style: normal;
    font-weight: 200;
    src: url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Light.eot");
    src: url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Light.eot?#iefix") format("embedded-opentype"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Light.woff2") format("woff2"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Light.woff") format("woff"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Light.otf") format("opentype")
}

@font-face {
    font-family: "SZoSans2017";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Regular.eot");
    src: url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Regular.eot?#iefix") format("embedded-opentype"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Regular.woff2") format("woff2"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Regular.woff") format("woff"),url("http://media-cdn.sueddeutsche.de/globalassets/components/szfonts/fonts/SZoSans2017/SZoSans2017-Regular.otf") format("opentype")
}

.loading-animation .spinner > div {
  background-color: #313131 !important;
}

.podcast-player {
  background-color: $background;
  color: $black;
  font-family: "SZoSans2017", "Helvetica Neue", Helvetica, sans-serif;
  padding: 23px;

  .hidden {
    display: none;
  }

  .main-player {
  }

  .cover-image {
    float: right;
    height: 120px;
    width: 120px;
  }

  .podcast-info {
    display: inline-block;
    height: 120px;
    width: calc(100% - 150px);

    .podcast-title {
      font-size: 30px;
      font-weight: 800;
      margin-bottom: 10px;
    }

    .podcast-subtitle {
      font-size: 16px;
      width: 80%;
    }
  }

  .episode-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 14px;
  }

  .controls {
    margin-bottom: -8px;
    position: relative;
    text-align: center;
    top: -8px;
  }

  &.playing .controls {
    margin-bottom: -12px;
  }

  button {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
    outline: none;
    overflow: hidden;

    &.play-button {
      border: none;
      color: transparent;
      height: 60px;
      margin: 0;
      padding: 0;
      width: 60px;

      .icon-pause-button {
        display: none;
        margin-left: 5px;
      }

      &:before {
        content: '';
        display: none;
      }
    }
  }

  &.playing button.play-button {
    .icon-play-button {
      display: none;
    }

    .icon-pause-button {
      display: block;
    }
  }

  &.loading button.play-button {
    animation: none;
    background: transparent;
  }

  .skip-backward-button,
  .skip-forward-button {
    position: relative;
    top: -10px;

    &:before {
      content: '';
    }
  }

  &.playing .skip-backward-button,
  &.playing .skip-forward-button {
    top: -15px;
  }

  .progress-bar {
    display: block;
    margin-bottom: 23px;
    width: 100%;

    .progress-bar-time-played {
      font-size: 14px;
      position: relative;
      top: 35px;
    }

    .progress-bar-rail {
      background-color: $progress;
      border-radius: 3px;
      cursor: move; /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      min-height: 4px;
      position: relative;
      width: 100%;

      &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
      }

      &:before,
      &:after {
        background-color: $progress;
        border-radius: 50px;
        content: '';
        height: 9px;
        position: absolute;
        left: 0;
        top: -3px;
        width: 9px;
      }

      &:after {
        left: auto;
        right: 0;
      }
    }
  }

  &.playing .progress-bar .progress-bar-time-played {
    display: block;
  }

  .progress-bar-played,
  .progress-bar-loaded {
    background-color: $progress-played;
    border-radius: 10px;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 0;
  }

  .progress-bar-played:after {
    background-color: #009990;
    border-radius: 50px;
    content: '';
    height: 16px;
    position: absolute;
    right: -12px;
    top: -7px;
    width: 16px;
  }

  .progress-bar-rail:active .progress-bar-played:after {
    height: 13px;
    right: -11px;
    top: -5px;
    width: 13px;
  }

  .progress-bar-loaded {
    background-color: $progress-loaded;
  }

  .progress-bar-buffering {
    background-color: red;

    &:after {
      animation: move 2s linear infinite;
      background-image: linear-gradient(
        -45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent
      );
      background-size: 50px 50px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      content: "";
      overflow: hidden;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }

    @keyframes move {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 50px 50px;
      }
    }
  }

  .duration {
    float: right;
    font-size: 14px;
    position: relative;
    top: -9px;
  }
}

.podcast-player {
  @media (max-width: $mobile-breakpoint) {
    .podcast-info .podcast-subtitle {
      width: 100%;
    }

    .episode-title {
      margin-top: 10px;
    }
  }
}
