$default-padding: 12px !default;
$background-color: #EBEAE4 !default;
$default-color: #595959 !default;
$light-grey: #A9A498 !default;
$dark-grey: #A9A498 !default;
$highlight1: #CE0000 !default;
$highlight2: #990000 !default;
$transcript-highlight: rgb(255, 249, 169) !default;
$transcript-search-highlight: rgb(255, 249, 169) !default;

$mobile-breakpoint: 500px;
