$background-color: rgba(255, 255, 255, 0.05);
$default-color: #000000 !default;
$light-grey: #FFFFFF !default;
$dark-grey: #e1e1e1 !default;
$highlight1: #FF9800 !default;
$highlight1-light: #ffbf5f !default;
$highlight2: #FF9800 !default;
$transcript-highlight: $highlight1-light !default;
$transcript-search-highlight: $highlight1-light !default;

$mobile-breakpoint: 500px;
