$background: #FFE786;
$footer-background: #FFDA60;
$black: #29293A;
$progress: $black;
$progress-loaded: $black;
$progress-played: #68C1B4;
$mobile-breakpoint: 521px;

@import '../sz-common/index.scss';
