@import url('https://fonts.googleapis.com/css?family=Roboto');

@import 'equalizer';

$backgroundColor: rgb(50, 50, 61);
$backgroundColorTransparent: rgba(50, 50, 61, .8);
$textColor: white;
$playerHeight: 90px;
$spacing: 5px;
$fontFamily: 'Roboto', sans-serif;
