.icon {
  font-family: 'podigee-podcast-player' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icon-play: '\e037';
.icon-play {
  &:before {
    content: $icon-play;
  }
}

$icon-pause: '\e034';
.icon-pause {
  &:before {
    content: $icon-pause;
  }
}

.podcast-player {
  background: $backgroundColor;
  color: $textColor;
  font-family: $fontFamily;
  position: relative;
}

a {
  color: $textColor;
  text-decoration: none;
}

.cover-image {
  width: 100%;
}

.info {
  background: $backgroundColorTransparent;
  bottom: -50px;
  height: 95px;
  padding: $spacing;
  position: absolute;
  transition: bottom 0.5s ease-out;
  width: 100%;
}

.playing .info {
  bottom: 0;
}

.episode-basic-info {
  width: calc(100% - 160px);
}

.episode-title {
  font-size: 14px;

  a {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

.podcast-title {
  font-size: 12px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.controls {
  float: none;
  text-align: center;
}

.loading .play-button {
  color: white;
  font-size: 30px;
  height: 30px;
  margin: -7px 0 0;
  padding: 0;
  width: 30px;
}

.overlay-play-button,
.controls button,
.buttons button {
  background: transparent;
  border: none;
  color: $textColor;
  cursor: pointer;
  font-size: 40px;
  margin: -5px 0 0;
  outline: none;
  padding: 0;
}

.overlay-play-button {
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  font-size: 50px;
  left: calc(50% - 25px);
  position: absolute;
  top: calc(50% - 25px);
}

.playing:hover {
  .overlay-play-button {
    display: inline-block;
  }

  .equalizer-outer.overlay-equalizer {
    display: none;
  }
}

.controls .forward-button,
.controls .backward-button {
  font-size: 22px;
  position: relative;
  top: -7px;
}
.controls .skip-forward-button,
.controls .skip-backward-button {
  display: none;
}

.custom-buttons {
  float: right;
  position: relative;
  right: 2px;
  top: -34px;
  width: 30px;
}

.logo {
  background-size: cover;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA38AAACuCAYAAACGPbSYAAAACXBIWXMAABYlAAAWJQFJUiTwAAAgAElEQVR4nO3dvW8jybrf8WrtwolhiCd1MtrgBjZgiJs6GU7m4MKjC5/IyXAyw4FHCzs1RgM4M4zR+B9YCjAMBwaO5gI3MByslNzI8ErJDZysFDi6wZHgwIHPsA1ST0vV3dXNJtnd9VTV9zMgNCLZlET2S/3qNcvz3ABAQHyetD4ZY85q9wIAAATggA8JAAAAAOJH+AMAAACABBD+AAAAACABhD8AAAAASADhDwAAAAASQPgDAAAAgAQQ/gAAAAAgAYQ/AAAAAEgA4Q8AAAAAEkD4AwAAAIAEEP4AAAAAIAGEPwAAAABIAOEPAAAAABJA+AMAAACABBD+AAAAACABhD8AAAAASADhDwAAAAASQPgDAAAAgAQQ/gAAAAAgAYQ/AAAAAEgA4Q8AAAAAEkD4AwAAAIAEEP4AAAAAIAGEPwAAAABIAOEPAAAAABJA+AMAAACABBD+AAAAACABhD8AAAAASADhDwAAAAASQPgDAAAAgAQQ/gAAAAAgAYQ/AAAAAEgA4Q8AAAAAEkD4AwAAAIAEEP4AAAAAIAGEPwAAAABIAOEPAAAAABJA+AMAAACABBD+AAAAACABhD8AAAAASADhDwAAAAASQPgDAAAAgAQQ/gAAAAAgAYQ/AAAAAEgA4Q8AAAAAEkD4AwAAAIAEEP4AAAAAIAGEPwAAAABIAOEPAAAAABJA+AMAAACABBD+AAAAACAB3/MhAxATY8x0w5vxYIy5qd2LmB3JbZM7uUG3Wcff7kaOdwD96HrsXdXuQag2lau8XDcJf0BaihPRzCrUr74/3OFduJWT1o3crigsBmsqtyOrgPJ6jz/m3to3HmTfIByOw3WMr26v9vjp1/LV/hwpoAJlR9Y5dN/r68qjdQ69qVxvoU9x3i0+/+MdPuuiLHUz5PUyy/O8dieAaBxZJ6PZngXALm7lxLW6XQ70M3yetD4ZY85q94bnRPaH6Z4hb1v31sXtikJML8Y+xm328U7lD1JzVDmXjnnsXVfOpRx7fqw++7nsB7uG/CbF+XXR97WS8IfO/uF//Wm1k/+i9B178ze//0xN9JPigjTfsuapb48SAM97PnER/rY3kX1idXur6Pcq9pHLASsLYjSV43vm+RivurU+S83BfirnJejStVukT1OrsD9m2Nvk2jr2Quthcb6ha+SQVuep0y1fv7ieno24D9zK+7SoPbIDun0C8ZjLbcyWnDarWrB3cuv1xIXOikoATYHPZu8jRRBc0KXQaSKf5amyQqftWG4f5ZhfyE1bq8RE0XkS+h3Jcact8Nley+2zdb29DKRFcOweKPuYjxz6Cqvz6s/ys8/2LUsx2ycQtomcCB7kxKD1BFqcuO7k5InhFPvE6r3+g+LgV1UEwV/YT0pmcqH/oxTstBY+q47l9/2j/P4htOoAtplURP1mjPkQ2LFXXG8XHSfsQrup7As/e94PXsnvcLPPOZXwB4TJLuB/HKCv+VBeWRclCoP9OpLa3mKfCKWg4lLsJw+yn08cz4ldUfD8RUJxyIpQf8VxjwDM5Tz6S+AtxEWF2m/SCsixt5u5nLs07QvHsn/u1H2d8AeEJ8TQV/VKTlyXiRbs+1RUBNxI7XSo+4TLoezndzuMywiVHfpi65r4mhAIxWZyrvHdujOEt3Ls0RK4nYXsD1qvqx/k2r/VZ0r4A8IxiyD0Vb2Vv+mk9gi6OI1wn3A5lC6EMbcYT6SgEWPoq3ptFUSp/IFvR1aFS2yhr6poCUy1R0VXE6mcDqHXxbEEwM6T5hD+AP2Kk1CsF6ZDGZvG7HvdTeVk/zny0FcVa4txEeJD7965rXeJtepCnzMJQ6lNAPRx33FjkbsMaLy8kXLAVdcASPgDdCta+0I6Ce2q6L5AbWS7VWHlV2VT/I/tbSStgEWLQ2oh3la06tIFHGMqKtA+Jvyuv7LGjXHsvVgEWhnQOQAS/gC9zuTEnFKh8Hib2qvEHFFYKTncZ8C7AifyebLkwJNYAj30O6UCreQD191nZ4H3wOgUAAl/gD5FN89UC/kEwLoiKFBYqSsKLiHVXC+kq3OqrX1NikDPMh8YQnFt/cy7W1Ncd1Mefz+LpNx1uGk8NeEP0GUiJ+AUunm22ar/euROCQobvQ5kf5lIiE9tbN+2ft53EWOgYsq1daNi/H2KlS+TyM45x229Ygh/gB5T6fZE686TjbVXCVhQS92Z9hbjKa23W3lHAERPiuDHsddNipUvZxFOqPeuqSWX8AfoUFycaN0pKwr0qQlpmmlNtLYYF8d37NPI940AiH3NZXwf19btpHTsHcnwgRg5J/Mh/AH+EfzaHSdWAKTr7360BUCO7/0QALGrubRiYTepHHsx/42vXEvpEP4Av44oGHbS2H0hMhO6J/XiUMkkMAS/fhAAsS2CXz/eRT4GcJrAjMun1Wsh4Q/wp+jaR8Gwm4WE5ZgtCH698R0ACX79eueqwQYcCH79+jniytcUzs+H1XMn4Q/whxae7RxGXvu/oKtn71pnPBsQLfrD+Mw6gNhgGvDan5otmH07aIQ/QIFzgt9OYu2eEfrCspqN3WJEi/6wLhPoAYDdUOkyHGbfDtuh3X2X8AeMbx7xzFLY3knCC/qP5fOItdZ03R1W7D0AsBsqXYZ3LBWVCNNz113CHzCuI7qkwDKlIDuaMd7nM7rujuI14/9QQW+acXyg63Ww3hYtt4Q/YFwLaiZhYX8Yz9C11jNacEd1RvdPiDnd5kdF989wrVv/CH/AeE4TmFIY3VFTPb7TgQLDhBbc0R3SiwL0pvHCuXYcgrButf2ezwpbeDDGXCt9wx5q9+hyRF95WGaM+/SiCAx9T1u+kAIRxvVWjqUr3vdkMc7Pj49y3rtL8Y8PGOEP2/mb33++oa/3zs65QEGE0kr0aIy5kYL13YaL/JHcpnLTHIT6DgyzQMb53crnedfhb5/JfhrCAsjnTEGfrNNAek9cy7H3sOHYK4654lyq/W87i3wBeJd7+SxvHI+FcM5cXZsnhD9geKEUDjGOU8Xh6FaC6VXDxa2rI9nvT5Tu+2c9VWRpD/IX8llebtk7olpALT7LE4X77rEUQOl2mxbNvWke5Zgrbtuwnz+pHHvaKpDfyWfQVjEYg3s5v3Rt6ZzI5zVXGgSnWZ7ntXsB9Oom4LFd11YQeLC+utitBbNIxzd+2rPAsSqw/Fa7178LaUHZJ/A1OZKL4KmywssbR8jZ1pnCSV7u5ffaNvB1daJw/PLtlq1/q/PTL7V74Vu2xc+/VFixdCvn0aEqIuZybGuqgLnoofXvSml54VE+z32u+TOFwwI+MeELMKx5YMFvdbL7Yoz5C7kQz6yC5NWGwmTRwlC0qmTyOhfyutA3McHqs/lB9tMhgp+RmtJiZsZPtUf92bfAcqRs0oNV6Hsvv9diw7G6j0s5vt9IYVeDY4YkBO9iiz9AW2+aezkehl66ZyHH93v5mRq8i3TW3aJCad/W5St5nW3278HR8gcM6y6QiSCurW4NQ5kHNEajyT4tf5paG+7l8/AxUcZU0ULoP+zRZWmhaHr5L7Jf+pj4Skvr59ctJvKZJDhOcPX3fq7dq8O2rUdaWor6aBna1UR+roaJw77sWRGmreXvVq7XfZ9PtVwzrgl/wHBWF7Oflb+/t3LSHjMEaOwG0dU+4U/LBe5CPnOfM+ROpNDk+0K46+eppfvuowQe37NdTuV38N2td58wHzMtn4/LtsFPSyXa7cA9JrqaK5hQ7nHPdf80hb+hgl9BQ3fla7p9AsPRPAvW6mT9k1UoGNOV1QUwle6gWsZAvpf90vfSKA/ye/juCrPrMaphoolbOY40LHNQzATt+3juewmPGMQU/IySY++r7O++g5+RilTfx95hJLN+Po5wfZxr6LJL+AOGoXm632v5/XyPPzuT30PLuKEhaRgb9l7hjIi+A+CrHbr/HSlosRy6dnoXGgIgC0+XaQ5+P+0QGDRUol1IJYO2Y893xUcMFS9DTXpme1BQgRH4bJ832bnJzdTkmcmXmVl9NcvM5PL1+f7iscr3+fLAmNWfv7T+X9y/NPJ6ByaX55j8wOT2/c7nrF//5u/+y/8V3UUo+y8/tQaGzJ6oq2G3yjpM5pXl3Sb8qrzW6f/75/9eQy1cQdN4INu+ffOHovX9qtqlm6CGLoIag5/N54y42x4T557H2WgMfjbf3fJ+VNIi45vm4Lfr+ch3l7k+ZrYc0qnncZ2/2/G8pKHb5/3IE9d4nQ8i9HX+VsHvdWvwy5uCX/YS/PLsOfitHy9C3ep5Vqh7CXvW//OX13nZZpvZioOy6tP9ukvIM/Vw5tQl6DW+Tl56zj79zfs2URpkNAeAYuyE1gkJ9uG7lk978DNSa3zjqaB6skX4m3gu/N0rD35GCnJfPAZkLd3xfIox+B15Dn63AXRtPJfzma8gNdthXUMtxr5GXvqsRAy72+eyHPCcwc8RBJvC4ksQbAqL9ec0bhOhVVDLnoPyS/jKGv7Zim2rt9JzGv6tWT/z+TWsf8po7P4QQgA4l98zJhPP+8NFIItf37X1KhjYNl0/fS+0rK27WZMzj90/Yxh7tI8Yg5/x3GPlMaClRHzu/yF3/Rz7+uP1uhx0+HOGrkowqwW3hrDY1mpYC34N35daGiPkjmbbhzzT8FpPH6oj5NWCnvzv+fEDc5Cr2pW1FT5CCH6FRWQB0GdYuA9sDNS5x8DQtWDn89j+KaAWrQePYf54z5kHQxZr8DOeg0UolS5GKtJ8jaMOda3Naw+fr89z+X3wLX+10NWxxa42FtAV4trC4qZtErBryFsHuE4hz1RCXrYOeQfWc+3vlThSNtHLl4CCX2GhbUHUPfgssGiY1XMbDx731S6FFp/H9q2CCZq25fP3TXHB99iDn6/xURdKZtTdhs9eFCEu+O7r872u3TOOu7DD347dO3cJi6Z14pjy7xBty19L0KvHuw2tea6Q52jNe36u/b39uHn5XglNhY7rgGe/m3s8MfZl4nGMynWABRajPPz5DPIhHscPMiW+Dyku4B5r8DMej71HJUtLbOvG4yzaIVa8hHit3Evw4c8Z/Fpa7HobC+jYpvR9xOoRryXk1YJeS8hbP/eg3Lonjx+Ycgi0H3/aRs17rqXP+2MEUy+fBL4OoO9WvxDdeFoD6bBDjbWv9zTUIG88Tv6QUsvfar/8NeLgZzyeS8+lG2WIfJ0zQqx4SW6CqLDH/DW0vtWC2hBjAZcNLYjFcyM0ZJfNl6D3EvKyasgrQmBefvxAQqMSPmcjs4XW5c/lIfDJG3wVWK4DLrAYjxfitkLLkcelKEJseSho/Cxjsjo//qz07+kz+PkKtqF1tbYR/roLvay0rfC7fdYCmSuoOYJgbZum7p2u13NsUwuPEWoNeU2teR27bNZa+0xWaf0rvn9q6cvs7+W1FdBS23wd8HTLVZcBd//0VREQcoHFKA0Mvo7t+8C7JPn6LA8TmPRFa/Bb9dZ402MXbl/H3kXgoYCKl2589DTxLfDw5wpdjqDW1lXT2crXJSxu2iZKLSFvzy6b1da84vXqrX9Poe/AVL7XMeZPS/gLdZxfkxBb/3ztC48RBH9frZZt3T59djsLna+xRzG3/mkOfrOeKyx8nUs5j+4mtIqXkHvJ7Crs8OcMXUMu9bDFNjEasstmEQKrrXkHpvK9/bixv6flT1xE2H/d59TVu6LAsjuN4Y/Pc3e+Wk/aPs+QaQ9+fV5/Jp66W8dQieZTahMuhebu+6B//aU946dxBsFai93W3TvtiWWMtY2xtjH1gBmhp4Blrey3XuS9ttLf0/d55Xv5f7FdZn9vrO/zyvfF43nD80s/yzsNSzzE0FLgshr39M5xv1aEhd35KrQ3FVimnsYc3UdSK+3r84wx/KUU/IzH82hysz/2LNV1Nrflq8x4E3b4s4NfKbjVH8uL8OYIdfnS3r7ynOVL8HsJj/ZkM6bSxdRE3PJnNxRL/Mor39uP541x7fk9qm5lnkOm/ZOs7/NqnMy0hL+mguOYriOetepOpo3XMqHOJr5O6mcRdPv1VWhvCni+ju1JJIVQX+uzxVYATS34GY/H3jSCY8/n/j+l5bSTT55+7kPw4c8Z/JaVEOgKftWw1yX4VcOeI/jFvNRD0fJnXG1wlRD4/L+89kzr9RzPL7UOukNhKfw57vNEQ/gLbTH3bS0CCX8+9wVfM1LGzNfneaikN0GoYup6lmLwMx5b/l55rLRAOrzN5Bx0+Kt377Ra+fKXIGfsgOcKfstyCLQDZWuX0NIYQzsI1n7VKKyXUxioy6arNc8V8ro87onvLkaPCYS/S+kKp/2izHiHcLkmq+DzhE+pBj/DsRcsun0qF0HLn2NcX8M4v3pYrD+n6zbViWVqk8JE6Hkh9QG6bD4vG9Ex5Lnu88z3ZC+pdLFY/Z0favfqEutEE6mi9Q2+pBz8Ji1dsaEboV25wCd8cYSuhiDonL2zKSxu2Mb5Ggks9ZBZY/4G6bJpbbdLMPTMd01XKgPUrwIIf1qW/MD+qMGGL6suYR8VvvtjBD9DgACGE3a3T1focgTBpq6apeDXuXunI/g5wmKMnpZ5MIN12ewcAl33+X/PfY+1SiX8hdDCSWCIBwXQcIXcYrtQOrvxrax5OcYstBx7wECCb/mrha6WrpqtSz00bLOxe6djm1iXerBn++y7y2bgrX++C/uxTAnf1bXygh2TrsSDLrwYm+bgNxtx3UYq0YCBRLLUgyOEuYJfQxBs2sb5Gl3DYoRK4a/n0NZH659HvmsoU1uT6IpxWBgJ4Q9jIvi94NgDBhLFhC+uENbUQtfYVXPH7p2NYTFC6/A3cJfNfYJhwlJq9TPK1zJkvB+gw2NgnwPBr4zwBwwksqUe6i10te6drqDm2KYpPHYNizE6WB4M2mVz4+Ou+xxdST3wfZFKreVv7EII0sW4o3BpriSqIvgBGE3oLX83tUDmauXb0FVzl202jAUM6aLT2UF+8JCZ7Fpp65/PixM1lONKLezCH8YdYWgEPzeOPWAgQYe/v/NP//a0dicG87//xb+5oVubSoQhAAgPwa8ZE2eFizKJcgdB//YAUnWr9O+mciRsUfbagEoEPwBeEP4AhIiCCYbAfhUPza0PBD8A3hD+gLDd8/kBQDC0Br8LmeCI4Id90e1TubAnfAGQ2jIPwFCueWejoq0L70QKxRrHsq2C37x2L4Ao0fIHAAAtHrHR9HkS/JASWv6UI/wBYXvN56cKF71wMdlLXLQciwQ/pOSRT1s/wh8AAHShjomWsdAEv90xnj1MVKIFIOwxf/8jO8+X2TT/04HJv1m3P31nzLfs+f/5+v/fmfxP8nV9/0H567cD9/2Nj8vr/uk71+M3f/aXf9m4BuF/evXv5t9MNv+WZWaZZeabyczq/67v1/eVvj9YP760Hi9973ytg9XbYZaybeNrm8z89V//vnGq+j/78/82zQ/M+Xpt9QNj8oP1CutPX1ffZ/lTdcLB03r39nPMQV5+vv346jH5vr5t7vxZT//P7eef/u2//nNOOumYpv4GoHecP+KhIcgT/Paz+gxfKf8dUUfvlwCEPuHL1OTZ63Xpv7gtV1+NyfNMbvL/pbG+N+XH1o/LLW+41R53vJ71M9pkeX6UZeb1KrOsftcsy0xmcpOZTL5/ykaZZB+Tvfx//bzs6cWfvs/K31vbvrxW8dr5y+Oyrals2yrPJibPX6+3yeVmXv6/vrty/+p1c+s56x+ZS2DLG7bNNmxrPcfadtL2q0fuKMFWi8PaPcB+XOHviq7VQfJdACX4IVWu8yiUCTv82aHvOfi1fF88RwLi033lEPL0uOO1N76u/XrtKSqr3Z7CWZZbwW4dyLJyEKzczPO21ceyUpjLHMEwq2z7tNWG1Jpb4cu8hLOXQJZJEn7570uYe/r7cjswPm+bvbxYNfTJC9k/9yX0rYJ2/hIE/fE9sUBq4e+odo8evi98b2r3oAuNk72s1lxr7EGCVj6PQ4JfP3wekxeyJAe2R/gLQNDhb50zls2teEa+d35dNoS4Irytwlw10BXhsDUEym2D5kBmt9pZwe65hbC8rXG2EOaVFsCXEGlcP1d+1sszGuRWiMvKrXTOFjzjCHP7tv6Z5tY/j3yf7DSHoSFo/ns1hAi63fTH5+f5wGcZHIJff1bX1beefvYdxx5iFvaEL8usHs6s/68DwvIpIJqiO2YlCNa7c1ZvRh6vdPNcVgJn5dYmk1/uqeXtKdFkeSWMyfbPwW5NtsmLUJi/BEVT2ab0WnlpW2O3+uXl529UaSnNKl+NycqBrBQEs5fn1V4jK/7E0uvan+fz+1DaNvPd6qdBauPfGselKsFsZ/GgFhtdaQ5+7+nquZWUh5EgAWGHv1pXzmoYrHTLXNYDYqlFr6klr9Y62KGFsEU93FnhzFSCnatFsBTe8kq4q2/j2tZY29pBsE1mvXelcGZcYa7jfW3bWr+zc9vq9v747nKZWvjT/vf67nKG/vhs+UutRT9k2oNfiF0Yfba8MaEYohZ0+Ku1uG1sxbOfU20NNNJa+BToat1Fm8KhM1y2t6G5A5k8lleCnd1SVwuNrteywmBe6TZa2bb0++R55zF/tXBWC2Tu1r+iha859AXb+uc7/KU2IYX2C7PP/YFCS798BnlmOgzDEcFvED4rXqhEQ9QCb/lzteLZLXmOFkCrRc85LvA5+BlnQOw6K2ibrNJ901QCWb3Vzu6qaXUVrXXvLH9f3abcsujuKtqqFLy2b/2rPqc5zDme17Stvb1fvtck0t4Vsi/TAArFhL+4+Dy2+Tx1m0oFAcGvfz4rXjR+nkBvwm75k9a4Ipw5w6CzW2Y9CDrvq80Kav2MTeGyRTms5ZvHAFaDYV7pKmqNAaxuW3ut9WZ5OYBar93KFc7MAK1/jaFvQ+ufX75b/05q98QphJBLd6W4EObhMpVjXeOyM6EHv8Jt7Z7xpFKhigQFP+Yvt1rxaq1wpZs9SYs1ecuGiVvslr5yK6H8fAmXpW6jHVqh2lvtrGBndfd03V5eqzwGMOswBjAzlQDaodvnrq1/tVY612PWc2r31YKg43X98j0xRCrhL4RJC3yGhVcJjBUb++/zGeZjL4BOAu1iR/Abh89zaQrHHhIVx4QvzhY7x/2l/2/ZQtjUTbQ6LrAIgC1qM2423ExpDGC1lc/RIugMle4xgC+vXX+tJs4w19b6Z7fimXoLX6kFz5QfK72esQNfc+ufZ75b/l4lcLE6CqQ7zp3nGT9j3w+upLJlPlIBxmfFTuyVOidyvCwC2m8JfuPh2BvOmYyrPGdyqfQEPuHLSyuekVa8WqBzhLjafY0Tt9RDR+dZQVs0zbhZLGbuCmPOcXwNXUVNS7Czt335vrxtI2cLnnv5BlcLXn1bx2Mtz6kHQcfr+qNhSvjYp/I+q92jl8/Wopj3g2LM56oS4GdjzB9HCA4+P8vDyAuhJ/I3vjPG/CJB8FRxqwTBb1w+j73jyENRcex9MMb8NnKFGjwLv+XPbm2zu3QuK+vyNSwEX+vm2fi44/UaFpjftMh7PZDVu2BWJ2ixn2ec4a7cVdQ0tCyWt3UE0I3vuSN0WbN0Ps86aj3mCn1Z9bFdW//0tPxpWBD2XcQXq0lghWCf+8PriPcDV7AdOjg8eJ70JdbwN3Es4r0K9p+tUK/pbyf4jc/3ddV1vomBa+K0okKtaIlnvHHEIlnkveXmnLjFum2auMXVqldqVay+rowHbFEdx2calmKwg111yQdTCZH117KCnb0ofGNr4g4TvrjucwUyV2A09efUXsM4Xq+ty6l/PgenF2K9WJ0qLXQ18V1oOa3dE4e2/XvI4ODz84y1UmfT57P6u/8ghdEzz++B1uC36l7+Y6TBr3Bdu2c8beebkLVdH4qW+F+lNVBzSzx2FMc6f13H47lCnN1F1BXoamMFHcHQtcB8C9c4PmO11Jlqq161q2jDOL6mMFeaEKZhyQfTaczfSwtfPYjVZ/ccrPXP1B9T0PJnlLT+nUZYUJxsuFhpdON53F+M3XfmWxS++w4Ol7V7xhVjIbRrN+5VqP8oXdMuPbQGag5+MyVDDobk87r6KsJjb5teNMeVCjVmQI1EVOv8rTPUqivm0mqBqwTBenfOtllBrW6eW8wKumnCF+NstSt3wXzuwlnr3mlt//z/DmMAa62JprbkQ/f329FKV+uaWQ90bdsWz6mNEWx4zdKyEMZ6Db80hL/DwMbGdXEeWKtfwWdgiHE/2OXv6Ss4+D62P0ZWqTNzdDvr4q2E+rEmqiD4+ee74uUssoq0XXvR2N3rfbfEY0+RzPbp6LZZm7jF0aLX1JJXax3s0EJYbQlsUR975wh2pgg0m5d8cL9Wedxgc2tivWWxUbGeXiW07dz6Z9pb/+zXrM0kaj1H0XIPGsKfkZN0LDV0M/l7QuR7f/gQ0biNeQ+L++8THFbbfK3dO65zzz+/T/tWTNgTVVwN1NJN8NPhxvOY21cRdaPvoxeN75Z49CD4Rd7bW/HsFrlqa6CR1sJM1unr2k3UFS4dIbNFqdumowtm2zi++pIP9QlharfnMYDNXUU7jfkzza10ba1/rhY817au1609z1Qf2/x+j+jB8/gE2yKC2spJ4GNZfNdYm4jGAvXZiukKDl34/jzfRlLQmsukRH15PcBEFXOCnyq+j72PkVSk9T12/q3VvZ4lIwISR8tfEdTaJm5pGhe4LM8UWg2Iu84K2qa6tML6/9UlH1paBMvdPStdRa3lIoxxtQja2+blrp8tv/PT+71b658djF1hztX6V9rWdGz900FDgd9I7VzoBf9FD609PmloLTqOoMXobMD9oAgODx2Cg5YwH3IBazLg/lidqGLX1sC57BMEPz00XMsuA69QnUqIHcKrHSvU4ElUY/6au2XWg6DzvlpLnhVytp0VtEU1kBlXa11tuYendOMKc/XXqm/b1lX0+edvGPfXvCh7x9Y/Z+ir399lW8Wtf1rCn5FauVC7q5w5pnWfNEkAAAr2SURBVIEPkYZCy4eAL8ZDFlhsXYKDhjB/GHghdDFSqNp1Hcgi+GmTcvAzCrp+Ggk4mq7v2xrrWrRNhRo8iWO2T+OaiMWepMU47nO04lVa8sqthNIaKOGy1G00dyw70cLVfdO4WgRrk7SUu4rWxvE5tjXWtq4lH+zxhe2/dTWQdWz9q4W24Vr/lLhTsuRD4XOABf/5SAX+MVwqKLQYuRiHth9MPBW27PWuqq1sGsL8sdSuhxYA554qdIqJKjbtSwQ/3TT0YHgdaI+aczlvjMmuUItpvHIU4ljkvaklr/T/LVsIm7qJVscFumYFXdZ+05rqTJ/OLpgNk7SYyjg+5xjA6pjBUotiZdxh3qHLp2kKc46WudqyDA3Pa2j963Rf7XU7/QVj0XZxCKngr7UAtg8t+0NI+8FEAo7Pbr8PEgBtWsJ8aAFwpuC4bpuAieCnn5bz6LvAAuBcen/41HbswYPgJ3ypBTpHiKvd1zhxi6Mr6a6zgnbQ3mrXvuSDcbTaOccANizs3jgGcOOb/vK119a/aojbpvVPV8ufUXphCKHgH2PwM8r2h1ACoI+aatfv4KLl8ywCoPYxgFPlkx9pPe/cymdL8Huyqoy5qN3rx7tAKl807Nv3gXeXjVKWbxjnBWAnC6VLFHxROg5Q6/tV9WnHmSe1/X0Xsh881B7xq2jx8x38Vn7X8P5MpEVQy4QgjzILqMba9bmSdTovGio9NAe/WcP+l7KpdCPU4l6OPY0B/VSGffjW5Zp51fMMwNu4TnHx+rC7fQJ6NdUy+/ZBLlRaWgum8vuEupZfV9oWXH8n77umi16xL2gIfhctBe8HZTXZhzKm7VxZS8SZolkzXedjgl94bhQtp2SkW/qvys7vxRJJGoKfaTj24BnhDxjGlbKLlO1YLqI+L1gT+fm/KinsD+1OUZelwitrIgyflQH2vqBlaY+mLp8FbWHeSMXOXUML15iKEK9l0qZrR6sowS9cGo+9j0qOvZmyytQLx7hpKED4A4ajucbr0OMFa66scDgWjYUWIzMw/uZpWm6N+8J1h25cd9KFWptDa6ZS13IVQzqSfUhbhU71PKx5bPGxLE/hGBWfzG1T92WtFauvZL+68XBNncn78ouytXG1XvOSR/gDhrNQMjNgm1dWYfF0wMJi0bpzJz8v5MXbd6Wx9c/WxwLZXRwp3xe6FljOZLydRvZxvZBxSUM5kdbj3xR23753hL8YJ5VKjeb1a4+tde7OB6xQm8h5ugh9vsbMNaHVTzEmfAGGtSoY/SGw9/irFOau9jx5H0mN5EkkC7abPSZ8KWibLGSTW2tfuNmxO9pECkDFvqC5m++2g//PAmrBfpTP8sb6PHcxrXyemvflN46WJAo9unU9BkOZJMxIJcSVddztc+zN5Kb9mvrDFuUHJnwZGeEPGJ7PE9u+7q2L1V3lZH4lF6OihehIbkXhMMbWvX3DnwksMFQ9WiGwrQAztUJfKEHXbFlgKWiZpGYXt9Zn2Rbsi8JRSOexpkIdhR7dmj63qtAq0qq6HHsT61wa0jmmaXbdJoS/kRH+gOHNpFsGwtdH+DOBB4ZY7boMCse3Tj82VFBQ6NFtm8J4rGvDhuxRKoGbAq0L4W9k3//f/5wdrQ8ga/Hu9ZfK901fW5+3/2td/b1/lTcO/v0//zGb58uDo/zbgTHL78zqa+74atZfD0z+7bunW/H/5YE8Zt9vP1Z+rv3VPL+e9drys83yu7t/9D8vGif7+Ku//29nuclm37LMfDOZWX1dmoP115f7DtZfl+vvD4z93G/Wc5fWc+3Hlo7nrv6/rLx+8brL7Ol5f3X7zxoLtv/gH//3p33l4Gm99Uy+muevucky674DU/4+s+6ztnG/VvV5xc/MK98/P7749T/8E639y6+kJiz25QzQ3VzZelWpe9wj1F9JcPxQewS+fGkIfojLQs6lofasidEZs9Xq970kdM1dkBrDn+KD/toxyNw2U/yetxWANO8r+45PG9ppAONjMJ4baUVMbcZTrfZd8P5Mzuu05vq3T5BHeE4C7/4Zk9sOy+RAAWb7BMbxoGANIOhypngtyJRsqqzrguNbjzktD0nh2NODzyEQhD9gPJcykyZQOFG8XEAKHntcBmHVmvu+di/GdCHnWaTlUum6myn5RFfrcBD+gHHNA1j7D+N5SHGwuSJ9txItlK/lGLN75eu/YVin9KTw5pqu1mEh/AHjehh4wWWEhxYjP74M1Eo0l7EvGE/Rgkt3z7SdcOyNrs/eExgJ4Q8YH4V9VC2k2wzGcT1wK9GMQuioTulyBmv8H13pxzOj0iU8hD/AD7qH7e4x0oL1GfvEKG5HqKl+IACO5lMPE/YgHjdy7BEAh/eeSpcwEf4Af+YU9ncS82x+7BPDGrN7IK0Qw7tgrBEcCIDDe0+lS7gIf4Bfcwapb2WocVqaEACH8SgFwjHXA72R9VFpAezfBVPLowUBcDgXBL+wEf4A/xik3s3Q47Q0mTMGsFdF8PPRRYkuoP0j+KELAmD/OPYiQPgD/CsKh7T2NBtjnJY2Z0wM1Aufwa9QHOO08u+Pwie2Qet7f37i2IsD4Q/Q4YHufo1SnsZ91bXmDTXXO7uVgp+GSQmKAMhi1Lv7QuETOyiOva+8eTtbVUSeB/q7o4LwB+hCd78yH+O0tLkyxkypud7aV6XTkJ9KQYpAv533LOKOPRRr7P7Em7iVR6mAZIxfRAh/gD6r7n5/QeHQ3CvorqfFnQRAKga6+aS8tXhBoO9sdR74kcInenIu+9M9b+hGt3KeulL+e2JLhD9Ap8vEC4fFRYfgV3YmtbAUXNzu5f0JYfp/Av1mXzkPYAA3sl/RBbvZF3mPUu51Ey3CH6BXqoXDC6Xd9bS4knFshIayL4HWUq+C6g9MBlPyKL0fUh3ri+E9SDfiN7TAlxQVaHSxjhjhD9DvTLqpxF44fLRmE6PAt1kRGlKfxMAurIS639xJhcd7WnXXlT9HCaznCR2KMdU/MdRiXaFIN88EEP6AMNxEXji8losOs4lt505aR94k2HJUVBYcRVRYWVituqkVRK9lP6byBz6cJ3zsfZWKxDOOvTQQ/oCwLKyuoDFcoIoCfOozeu7rSt7DFELgo+z/RxFXFpxZBdHYWwKL0DejxQGePVSOvdhDYHHsnXD9TQvhDwhP9QIVYuEwhQK8D0UI/DHCNSPvrZa+FGqo7eP8fYTjkgh90Mo+9n6KsALmQq4RHHuJIvwB4aoWDkNo8bFDH11MhnMj3ed+J4WXkIPDV5n8o6goSHWx/6kU2L4E3CJxL7//DxQ8EYAHqzvoGwlNIR97n+TYmzODbtq+T/0NACKxsMYLzeX2StGfdisX0UsC36iKwktRgDmRfeNY+e/9VfYV9peyG5nY5lQ+yxMJUZqO9apH67NkEheE6sqqrDixboeK/557OeYWhD3YsjzPeUOAOB1ZhcO3Hv7Ca6vA1/d4glUryKR27/DuIhkbMbH2DQ3h4V4KVpfylcC3nan1Wc4UFEivrc9TW6FzVrsHmjwEFlTs4+517dFxPVoh9Sqg99HX9dwEuL/1gvAHpGMmJ9ni1mfrz6OcQK+srxTgwzGxAsRUKg6Gah28lQB9w74ymKnjNlQgvHZ8nkCq7HNocRwOcew9WsecfQM2IvwBaTuq3ApNteM3VkH9xqo1o/Aep2L/KMJhobjfpVqTWuwfsbSahqyoYa9+fk3Hu3Ec31cN9wNoVhxj1VautmPPrkixz6tUsGB3xpj/DzddWKUH4VEQAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  display: inline-block;
  height: 28px;
  overflow: hidden;
  position: absolute;
  right: 5px;
  top: 9px;
  width: 144px;
}

.progress-bar-time-played {
  display: none;
}

.progress-bar {
  width: 100%;
}

.progress-bar-rail {
  background-color: white;
  cursor: ew-resize;
  margin: 0;
  min-height: 10px;
  position: relative;
}

.progress-bar-played,
.progress-bar-loaded {
  background-color: $highlightColor;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 0;
}

.progress-bar-loaded {
  background-color: white;
}

.progress-bar-buffering:after {
  animation: move 2s linear infinite;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  content: '';
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

$mobile-breakpoint: 500px;
.podcast-player.mode-script {
  @media (max-width: $mobile-breakpoint) {
    .left,
    .right {
      float: none;
      width: 100%;
    }

    .cover-image {
      height: auto;
      width: 100%;
    }
  }
}
