$default-padding: 12px !default;
$background-color: rgb(0, 72, 152) !default;
$white: rgb(255, 255, 255);
$default-color: $white !default;
$light-grey: $white !default;
$dark-grey: $white !default;
$highlight1: $white !default;
$highlight2: $background-color !default;
$transcript-highlight: rgb(255, 249, 169) !default;
$transcript-search-highlight: rgb(255, 249, 169) !default;

$mobile-breakpoint: 500px;
