$background-color: transparent;
$default-color: #000000 !default;
$light-grey: #FFFFFF !default;
$dark-grey: #e1e1e1 !default;
$highlight1: #E48854 !default;
$highlight1-light: #e4b194 !default;
$highlight2: #E48854 !default;
$transcript-highlight: $highlight1-light !default;
$transcript-search-highlight: $highlight1-light !default;

$mobile-breakpoint: 500px;
