$background-color: rgba(255, 255, 255, 0.05);
$default-color: #000000 !default;
$light-grey: #FFFFFF !default;
$dark-grey: #e1e1e1 !default;
$highlight1: #4DB1FF !default;
$highlight1-light: #b3deff !default;
$highlight2: #4DB1FF !default;
$transcript-highlight: $highlight1-light !default;
$transcript-search-highlight: $highlight1-light !default;

$mobile-breakpoint: 500px;
