$default-padding: 12px !default;
$background-color: rgb(38, 38, 38) !default;
$default-color: #000 !default;
$light-grey: #9d9a8f !default;
$dark-grey: $light-grey !default;
$highlight1: rgb(245, 113, 80) !default;
$highlight2: #09f !default;
$transcript-highlight: rgb(255, 249, 169) !default;
