$background-color: #5d0024;
$mobile-breakpoint: 800px;

@import '../schwaebische-common/index';

.podcast-player {
  .graphics {
    svg.icon {
      fill: #fff;
      left: 75%;
      top: 10%;
      width: 180px;

      .st0 {
        fill: none;
      }

      .st1 {
        fill:none;
        stroke:#FFFFFF;
        stroke-width:2;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;
      }
    }
  }
}

.podcast-player.mode-script {
  @media (max-width: $mobile-breakpoint) {
    .podcast-title {
      margin-top: 80px;
    }

    svg.icon {
      left: 78%;
      top: 4%;
      width: 130px;
    }
  }
}
