$background: #F18B00;
$footer-background: #c77400;
$black: #29293A;
$progress: #B2DFD9;
$progress-loaded: $black;
$progress-played: #009990;
$mobile-breakpoint: 521px;

@import '../sz-common/index.scss';
