$default-padding: 12px !default;
$background-color: rgb(38, 38, 38) !default;
$default-color: #fff !default;
$light-grey: rgb(230, 230, 230) !default;
$dark-grey: rgb(200, 200, 200) !default;
$highlight1: rgb(245, 113, 80) !default;
$highlight2: rgb(88, 156, 239) !default;
$transcript-highlight: rgb(255, 249, 169) !default;
