$background-color: #FBFBFB !default;
$default-color: #00453D !default;
$light-grey: rgb(230, 230, 230) !default;
$dark-grey: #BDBDBD !default;
$highlight1: #00796B !default; // main color
$highlight1-light: #B2DFDB !default; // main color light
$highlight2: #f1b55b !default; // highlight
$transcript-highlight: $highlight1-light !default;
$transcript-search-highlight: $highlight1-light !default;

$mobile-breakpoint: 500px;
