@import 'variables';
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

.podcast-player {
  &, *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  background-color: $background-color;
  color: #222;
  font-family: Lato;
  min-width: 100%;
  overflow: hidden;
  position: relative;
  width: 1px;

  h1, h2, h3 {
    font-weight: 300;
    line-height: 1em;
  }

  a {
    color: $highlight1;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .main-player {
    position: relative;
  }

  .episode-basic-info {
    font-weight: 300;
    height: 90px;
    padding: 23px $default-padding 0;
    position: relative;
    overflow: hidden;

    .episode-title {
      color: $highlight1;
      font-size: 18px;
      margin-bottom: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .episode-subtitle {
      color: $default-color;
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .controls {
    float: left;
    height: 90px;

    .play-button {
      border: 1px solid $light-grey;
      border-radius: 100px;
      color: $highlight1;
      font-size: 56px;
      height: 70px;
      margin: 10px 0 0 10px;
      padding: 0;
      width: 70px;
    }
  }

  .controls-advanced {
    top: 70px;
    opacity: 0;
    position: absolute;
    right: 75px;
    transition: opacity .5s;

    button {
      color: $dark-grey;
      font-size: 18px;
      margin: 0;
      padding: 0;
      width: 20px;
    }

    button:hover {
      color: $highlight1;
    }

    .speed-toggle {
      cursor: pointer;
      font-size: 14px;
      position: relative;
      top: -3px;
    }
  }

  &.playing .controls-advanced {
    opacity: 1;
  }

  .duration {
    color: $dark-grey;
    display: inline-block;
    font-size: 14px;
    opacity: 1;
    position: absolute;
    right: 10px;
    top: 70px;
    transition: opacity .5s;
  }

  &.playing .duration {
    opacity: 0;
  }

  .progress-bar {
    clear: both;
    overflow: hidden;

    .progress-bar-time-played {
      color: $dark-grey;
      cursor: pointer;
      font-size: 14px;
      right: 0;
      opacity: 0;
      position: absolute;
      text-align: left;
      top: 70px;
      transition: opacity 1s;
      width: 70px;
    }

    .progress-bar-time-played:hover {
      color: $highlight1;
    }

    .progress-bar-rail {
      background-color: $light-grey;
      cursor: ew-resize;
      min-height: 10px;
      overflow: hidden;
      position: relative;
    }
  }

  &.playing .progress-bar .progress-bar-time-played {
    opacity: 1;
  }

  .progress-bar-played,
  .progress-bar-loaded {
    background-color: $highlight1;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 0;
  }

  .progress-bar-loaded {
    background-color: $dark-grey;
  }

  .progress-bar-buffering {
    background-color: red;

    &:after {
      animation: move 2s linear infinite;
      background-image: linear-gradient(
        -45deg, 
        rgba(255, 255, 255, .2) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255, 255, 255, .2) 50%, 
        rgba(255, 255, 255, .2) 75%, 
        transparent 75%, 
        transparent
      );
      background-size: 50px 50px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      content: "";
      overflow: hidden;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }

    @keyframes move {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 50px 50px;
      }
    }
  }

  .buttons {
    position: absolute;
    right: 90px;
    top: 70px;
    transition: right .5s;

    button {
      color: $dark-grey;
      display: inline-block;
      font-size: 16px;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 22px;
    }

    button:hover,
    button.button-active {
      color: $highlight1;
    }

    img {
      height: 14px;
    }
  }

  &.playing .buttons {
    right: 145px;
  }

  .panels {
    color: $default-color;
    font-size: 14px;
    font-weight: 300;
    height: auto;
    line-height: 18px;

    & > div {
      height: 100%;
      overflow: hidden;
      padding: 0 0 0 $default-padding;
      position: relative;
    }

    h3 {
      font-weight: 300;
      margin: 12px 0;
    }
  }

  .panels {
    .chaptermarks,
    .playlist {
      ul {
        display: block;
        height: calc(100% - 54px);
        margin: 0;
        padding: 0;
        overflow-y: scroll;

        li {
          background-color: none;
          cursor: pointer;
          line-height: 30px;
          list-style: none;
          padding: 0 5px;
          position: relative;

          &+li {
            border-top: 1px solid $light-grey;
          }

          &:hover {
            background-color: $light-grey;
          }

          &.active {
            background-color: lighten($highlight2, 55%);
          }

          img {
            float: left;
            width: 30px;
          }

          span {
            display: inline;
            height: 100%;
            margin: 0 0 0 10px;
            overflow: hidden;
          }

          .chaptermark-start {
            float: left;
            margin-left: 0;
          }

          .chaptermark-image + .chaptermark-start {
            margin-left: 10px;
          }

          a {
            color: $highlight2;
            font-size: 16px;
            right: 5px;
            position: absolute;
            top: 5px;
          }
        }
      }
    }

    .chaptermarks {
      h3 {
        color: transparent;
      }

      h3:before {
        color: $default-color;
        content: 'Kapitelmarken';
      }
    }

    .download {
      .download-title {
        color: transparent;
      }

      .download-title:before {
        color: $default-color;
        content: 'Episode herunterladen';
      }
    }
    .playlist ul li {
      span {
        margin-left: 0;
      }

      a {
        padding: 0 5px;
        position: static;
      }
    }

    .episode-info {
      font-size: 16px;
      height: calc(100% - 12px);
      overflow-y: auto;
      padding: 0 12px;

      .episode-title {
        font-size: 22px;
      }

      .episode-subtitle {
        font-size: 18px;
        font-weight: 300;
      }
    }

    .share {
      padding: 12px;

      .share-title,
      .share-start-at,
      h3 {
        color: transparent;
      }

      .share-title:before {
        color: $default-color;
        content: 'Episode teilen';
      }

      .share-copy-title:before {
        color: $default-color;
        content: 'Episoden-Link kopieren';
      }

      .share-embed-title:before {
        color: $default-color;
        content: 'Episode einbinden';
      }

      .share-start-at:before {
        color: $default-color;
        content: 'Starten bei';
      }

      .share-social-links {
        li a:before {
          background: none;
          color: #666;
        }

        li:hover {
          a:before {
            color: $default-color;
          }

          a:after {
            display: none;
          }
        }

        .share-link-facebook:before {
          font-size: 1.8rem;
          top: 11px;
        }

        .share-link-googleplus:before {
          font-size: 2rem;
          top: 8px;
        }

        .share-link-clammr {
          display: none;
        }
      }

      .share-copy-url,
      .share-embed-code {
        background: transparent;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: rgb(77, 77, 77);
        font-size: 20px;
        outline: none;
        padding: 4px;
        text-align: center;
        width: 100%;
      }
    }

    .transcript {
      height: 400px;

      h3 {
        color: transparent;
        float: left;
      }

      h3:before {
        color: $default-color;
        content: 'Transkript';
      }

      .search,
      .search-result {
        display: inline-block;
      }

      .search {
        float: right;
        padding: 10px 15px;
      }

      .search-clear {
        color: inherit;
        font-size: 150%;
        left: calc(100% - 40px);
        position: absolute;
        top: 6px;
      }

      .transcript-text {
        color: #888;
        height: calc(100% - 54px);
        list-style: none;
        overflow-y: auto;
        padding: 0 12px 0 0;
        width: 100%;

        li {
          cursor: pointer;
          font-size: 1.2em;
          line-height: 1.4em;
          margin-bottom: 8px;

          &:hover,
          &.active {
            color: #333;
          }

          &.search-highlight > * {
            background-color: $transcript-search-highlight;
          }
        }
      }
    }
  }
}

.podcast-player.mode-script {
  @media (max-width: $mobile-breakpoint) {
    .episode-basic-info {
      .episode-title {
        font-size: 20px;
      }

      .episode-subtitle {
        font-size: 18px;
      }
    }

    .controls {
      height: 115px;
      position: relative;
    }

    .controls-advanced {
      bottom: 20px;
      left: 0;
      top: auto;

      button {
        font-size: 24px;
        padding: 0 8px;
      }
    }

    .buttons {
      bottom: 24px;
      right: 5px;
      top: auto;

      button {
        font-size: 24px;
        padding: 0 8px;
        width: 35px;
      }
    }

    .progress-bar {
      .progress-bar-rail {
        min-height: 20px;
      }
    }

    .duration {
      display: none;
    }

    &.playing .progress-bar .progress-bar-time-played {
      display: none;
    }

    .transcript {
      h3 {
        float: none;
      }

      .search {
        display: block;
        float: none;
        overflow: hidden;
        padding: 0 24px 0 0;
        position: relative;
      }

      .search-input {
        float: left;
        padding-right: 100px;
        width: 100%;
      }

      .search-result {
        float: right;
        position: relative;
        right: 17px;
        top: 21px;
      }

      .search-clear {
        color: inherit;
        font-size: 150%;
        left: calc(100% - 50px);
        position: absolute;
        top: 15px;
      }
    }
  }
}

.podcast-player.mode-iframe {
  .panels {
    height: 400px;
  }

  @media (max-width: $mobile-breakpoint) {
    .cover-image {
      display: none;
    }

    .buttons {
      right: 0;
    }
  }
}
