@import 'variables';
@import '../default/index';

.podcast-player {
  .panels {
    .chaptermarks ul li.active,
    .chaptermarks ul li:hover,
    .playlist ul li.active,
    .playlist ul li:hover {
      color: $background-color;
    }

    .share .share-copy-url {
      color: $default-color;
    }

    .transcript .transcript-text li {
      &:hover > *,
      &.active > *,
      &.search-highlight > * {
        color: $background-color;
      }
    }
  }
}
