$default-padding: 12px;
$background-color: rgb(27, 27, 27);
$default-color: rgb(200, 200, 200);
$light-grey: rgb(230, 230, 230);
$dark-grey: rgb(200, 200, 200);
$highlight1: rgb(245, 113, 80);
$highlight2: $highlight1;
$transcript-highlight: rgb(255, 249, 169) !default;

$mobile-breakpoint: 500px;
